[2017-06-28 12:30] Viclick opened #2 "Make get() return a Promise."
The `get()` method of the` SingleItemQuery<...>` and `MultipleItemQuery<...>` returns an `Observable<...>`.
I mean, ... how many times is the subscribed callback intended to be called?
I suppose the request is resolved once. That, I think, leaves Promise as a more suitable option especially in the light or the recently introduced async/await which is perfectly backwards compatible with Promises. B

[2017-06-28 13:13] Enngage commented on #2
I'm not sure this is something we want to do. `Observables `are generally more powerful than `Promises` as you can easily cancel/retry them and do all kinds of other magic with rxjs. `Observables `can be easily converted to `Promises `with `toPromise` method, but it doesn't work the other way around.

Consider the following:
`
itemAsPromise(): Promise<T>{
     return this.item().toPromise();
 }

i

[2017-06-28 13:17] Viclick commented on #2
They bring the possibility to write asynchronous code in a better looking way with async/await.
I didn't know about the `.toPromise()` trick. This is good enough.

Thanks for getting back to me so quickly.

[2017-06-28 13:17] #2 closed

[2017-07-14 22:54] ChristopherJennings opened #4 "No support for resolving links in rich text?"
Am I missing something, or is there no way to specify how links in rich text fields will be resolved? I imagine it would be very similar to how modular content is resolved, but looking for `a` tags with `data-item-id` attributes and no `href` attribute value.

[2017-07-14 22:59] ChristopherJennings commented on #4
I did look into [resolving url slugs globally](https://github.com/Enngage/KenticoCloudDeliveryTypeScriptSDK#resolving-url-slugs-globally), but this doesn't appear to be used for links inline in rich text fields. That seems like it is designed for getting an item   from the API directly and then getting the URL.

[2017-07-15 13:41] Enngage commented on #4
You are right, the HTML of rich text is not replaced with actual links from the `Url slug resolver`. This is a good idea to have, I'll definitely look into it once I'm back in Brno.  Thanks!

[2017-07-16 03:09] ChristopherJennings commented on #4
I'm not against taking this, but given my current availability I'm not sure when I'd get to it. Maybe we could connect this week to discuss more specifics?

[2017-07-16 13:44] Enngage commented on #4
I'm on-site in Greece for the following 2 weeks :-) If you have time, feel free to take this. If not, I'll be happy to take a look once I'm back.

[2017-07-20 09:34] JanLenoch opened #5 "Improve pagination in the DeliveryItemListingResponse"
As part of the DeliveryItemListingResponse object, the Pagination.NextPageUrl property provides a reference to getting the next page data.

The Delivery client (the "items" method) should be able to get the next page data, either using the NextPageUrl, or something more appropriate.

[2017-07-20 09:37] Enngage commented on #5
Will take look, thanks!

[2017-07-24 14:38] ChristopherJennings opened #6 "Better naming mapping"
In trying to use this I got seriously annoyed by having to map all the properties from something like `body_copy` to `bodyCopy` manually for each type. I implemented a helper method to do this, and thought maybe this should be incorporated into the SDK... Thoughts? Here's my implementation: https://gist.github.com/ChristopherJennings/3086c7225f6b391ecca9feb6bf3affc4

[2017-07-24 15:22] ChristopherJennings commented on #6
Perhaps we could alternatively or additionally alter the documentation to cover this scenario (https://github.com/Enngage/KenticoCloudDeliveryTypeScriptSDK#property-binding-in-models)

[2017-07-24 15:23] ChristopherJennings commented on #6
This is coming from a discussion had on https://github.com/Kentico/cloud-sample-app-js/issues/7

[2017-07-24 17:09] Enngage commented on #6
I completely agree that mapping properties can be really tedious which is why I created a sibling project which can generate typescript models from your cloud project. In fact, I implemented the exact same method as you did :-) Check [this ](https://github.com/Enngage/KenticoCloudModelGeneratorUtility/blob/master/lib/ts-generator.js#L118) out.

To me, it makes more sense to keep this code in gener

[2017-07-24 20:03] ChristopherJennings commented on #6
I guess the code generator is a better place for this to live. This largely came up for me as I discovered the code generator only after I had gone through and built everything out when I was first trying this. Maybe we should promote the code generator more heavily in the documentation of the TS SDK?

[2017-07-24 20:10] Enngage commented on #6
Currently, it is included [here ](https://github.com/Enngage/KenticoCloudDeliveryTypeScriptSDK#dont-want-to-waste-time-creating-models-manually) in the documentation. Do you think there is a better place for it or that we should include it right in the first example?

Maybe what we could have is some sort of 'utility' helper class within the SDK for some common functionality and one of it could be

[2017-07-24 20:14] ChristopherJennings commented on #6
I think mentioning it in both places in the docs where creating models is
mentioned would be good. I'd also move it as a preface to the sections.
Something like, "We recommend using the code generator for your models, but
if you need to customize the models read on for more details."

On Mon, Jul 24, 2017 at 4:10 PM, Richard Sustek <notifications@github.com>
wrote:

[2017-07-28 20:12] ChristopherJennings opened #7 "API Call appears to go out twice"
I've noticed that it appears that the client makes the API calls twice. The first call goes out, doesn't complete and then the second call goes out and then completes like it should. This is the behavior in my React app as well as the [simple sample javascript app](https://github.com/Enngage/KenticoCloudSampleJavascriptApp).

[2017-08-01 10:53] Enngage commented on #7
According to my knowledge, this is the correct behavior managed by browser automatically when dealing with requests across multiple domains (CORS) as explained [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS) or [https://stackoverflow.com/questions/29954037/how-to-disable-options-request](here)

The request is used with OPTIONS also if we use different content type the

[2017-08-01 20:36] ChristopherJennings commented on #7
Ah, you are 100% correct. I missed that the first request was an options request method. Thanks for clarifying.

[2017-08-01 20:36] #7 closed

[2017-08-03 10:46] Enngage opened #8 "Add support for 'View a content type element'"
Add support for response defined [here](https://developer.kenticocloud.com/reference#view-a-content-type-element)

[2017-08-03 10:48] Enngage commented on #4
Should be now fixed. Can you try to verify?

[2017-08-03 11:41] Enngage opened #10 "Support noImplicitReturns & strictNullChecks TypeScript rules"
More info: https://www.typescriptlang.org/docs/handbook/compiler-options.html

[2017-08-03 11:42] #10 closed

[2017-08-03 12:16] Enngage commented on #6
added comment to readme

[2017-08-03 12:16] #6 closed

[2017-08-08 07:09] petrsvihlik opened #12 "Set up CI + Code Coverage"
I think it would be great if there was an indication of the project being buildable and of the % of code covered by automatic tests.

Would you consider setting up CI (e.g. Travis) + export code coverage (to codeclimate/codecov/coveralls..)

I came across several how-tos for TypeScript (most of them are mentioning istanbul and mocha), so it should be doable.

If you need some inspiration regarding

[2017-08-08 13:25] Enngage commented on #12
Thanks for the idea! Seems that the Travis is now working for the Master branch -> https://github.com/Enngage/KenticoCloudDeliveryTypeScriptSDK

I will take a look at the code coverage options.

[2017-08-09 08:30] Enngage commented on #12
done, closing.

[2017-08-09 08:30] #12 closed

[2017-08-09 08:30] Enngage opened #14 "Increase code coverage to > 95%"
Tips of how to increase code coverage: https://medium.com/walmartlabs/do-you-have-100-code-coverage-10c09a44832b

Coveralls results: https://coveralls.io/github/Enngage/KenticoCloudDeliveryTypeScriptSDK

[2017-08-09 08:47] Enngage opened #15 "Add more information about usage of this SDK in Javascript"

[2017-08-09 09:02] petrsvihlik commented on #12
awesome!

[2017-08-25 11:42] Simply007 opened #16 "Response from types call returns only name and types codename"
I have used delivery client to load content type definition.
I have needed to get all possible options from the multiple choice field.

I have used the code defined in:
https://github.com/Enngage/KenticoCloudDeliveryTypeScriptSDK#working-with-content-types

Response does not contain possible options to the multi choice field:
![multiplechoice](https://user-images.githubusercontent.com/9218736/2971

[2017-08-28 07:14] Enngage commented on #16
Strongly typed support for options is added in https://github.com/Enngage/KenticoCloudDeliveryTypeScriptSDK/releases/tag/v1.5.12

Try updating NPM version and let me know if this works as you need :-)

I'll add support for querying only certain elements in future releases since I have no time now :/

[2017-09-01 12:43] Enngage opened #17 "Resolving of links in modular content no longer works due to changed response"
Link objects in rich text field were part of the modular content response in the past, but now it has been replaced with something like this:

[code]

 [Sample response](https://deliver.kenticocloud.com/975bf280-fd91-488c-994c-2f04416e5ee3/items/?depth=5&system.type[in]=article)

[2017-09-02 08:53] Enngage opened #18 "Make dev debug info use console.warn instead of console.log"

[2017-09-11 05:55] Enngage opened #19 "Create base abstract service"
It would be nice to have a base abstract service that users can easily inherit and have type service ready to be used without additional coding.

[2017-09-11 07:17] petrsvihlik opened #20 "Add Taxonomy endpoint"
There is a new endpoint for retrieving taxonomy groups:

Docu: https://developer.kenticocloud.com/v1/reference#list-taxonomy-groups

.NET SDK: Kentico/delivery-sdk-net#72

[2017-09-11 12:20] #16 closed

[2017-09-11 14:26] Enngage commented on #20
https://github.com/Enngage/KenticoCloudDeliveryTypeScriptSDK/releases/tag/v1.6.0

[2017-09-11 14:26] #20 closed

[2017-09-11 18:57] petrsvihlik opened #21 "Add support for X-KC-Wait-For-Loading-New-Content"
Similarly to: https://github.com/Kentico/delivery-sdk-net/blob/159cbb45950424e132038b61a21d120baa64c554/KenticoCloud.Delivery/DeliveryClient.cs#L506

[2017-09-14 05:35] edouardr opened #22 "Feature: Support Node.js"
# Use case
### Using SDK in a Nodejs/Express application
I am working on a REST API developed with Nodejs and Express. Requirement is to read data from Kentico Cloud, execute some treatment on it and then returned the processed data.

I have setup a simple node server with express to deliver the content. I have set up my models as per the
KenticoCloudSampleJavascriptApp.

# Error
When executing th

[2017-09-14 07:01] Enngage commented on #22
I've had similar issue in the past, but haven't pursued that in much detail. However, do you think you could try using the approach mentioned [here ](https://github.com/ReactiveX/rxjs/issues/2099 )and see if that will work?

[2017-09-15 05:46] edouardr commented on #22
Thanks for your answer.

I did try the solution of your link. For the record, this is what I've done:
- install [xmlhttprequest](https://www.npmjs.com/package/xmlhttprequest) npm package
`npm i xmlhttprequest --save-dev`

- initialize the global property with the XMLHttpRequest from the package
[code]

It actually fixes the issue. However, it seems weird to me to have to go through this to use the

[2017-09-15 07:21] Simply007 opened #23 "Taxonomy endpoint does not work for preview"
In issue: https://github.com/Enngage/KenticoCloudDeliveryTypeScriptSDK/issues/20 you have provided a way how to use taxonomy end point https://github.com/Enngage/KenticoCloudDeliveryTypeScriptSDK#working-with-taxonomies

When you configure the client to use the preview, requests does not contains preview API key, so responses returns status code 401.

[2017-09-15 08:47] Enngage commented on #22
Thank you for the info. I agree that it would be nice to have, but as far as I know, rxjs is not supported in node.js environment (and they seem to not plan to). I'm not creating the XMLHttpRequest myself, I'm simply using the `AjaxCreationMethod `from rxjs. There some some libraries/extensions that should allow rxjs to work in node.js, but they are often old libraries that are not even maintained

[2017-09-15 11:20] Enngage commented on #23
fixed

[2017-09-15 11:20] #23 closed

[2017-09-15 11:20] Enngage commented on #17
fixed

[2017-09-15 11:20] #17 closed

[2017-09-25 06:31] Enngage commented on #18
fixed

[2017-09-25 06:31] #18 closed

[2017-09-25 06:33] Enngage commented on #4
Refactored (https://github.com/Enngage/KenticoCloudDeliveryTypeScriptSDK/commit/39e0ee175caa7740db40595901a35ff2d3b49622)

[2017-09-25 06:33] #4 closed

[2017-09-25 14:28] Enngage commented on #21
done

[2017-09-25 14:28] #21 closed

[2017-09-26 09:56] Enngage commented on #8
done

[2017-09-26 09:56] #8 closed

[2017-10-03 08:22] Enngage commented on #14
Done for the moment

[2017-10-03 08:22] #14 closed

[2017-10-04 08:07] petrsvihlik opened #24 "Pagination for Taxonomies"
[Listing taxonomy groups](https://developer.kenticocloud.com/reference#list-taxonomy-groups) supports pagination. We need to reflect that in the SDK.

[code]

[2017-10-04 08:26] ASP1234 commented on #24
Hey, I would like to help on this issue. Can you explain it a bit?

[2017-10-04 14:39] petrsvihlik commented on #24
There are three main endpoints the SDK talks to:

- content items
- content types
- taxonomy groups

By pagination I mean the following part of the response (see above):

[code]

The first two endpoints (content items and content types) already have support in the SDK. E.g.: https://github.com/Enngage/KenticoCloudDeliveryTypeScriptSDK/blob/5c07316d22df39e8c8b95d39cd2b14691f1e312c/lib/models/type/r

[2017-10-04 14:41] petrsvihlik commented on #24
@ASP1234 thank you for your interest!
@Enngage can you add Nimish as a collaborator to the project? you'll be able to assign the item to him then.

[2017-10-05 05:40] Enngage commented on #24
Hey,

@petrsvihlik  Explained things very well, so you can try working on it, just let me know in this thread if you do. Make your fork and submit PR please.

[2017-10-05 08:08] Enngage opened #25 "Feature: Support generic data retrieval without the need of registering types"
As title suggest, we might want to enable querying for items of 'dynamic' types which do not have any class bound to it.

[2017-10-05 11:30] ASP1234 commented on #24
@petrsvihlik Thanks for the explanation. Will send you a PR by tomorrow.

[2017-10-08 15:50] Enngage opened #26 "Improvements: update tslint config and fix all tslint issues"

[2017-10-09 10:52] Enngage opened #27 "Elements field improvement for IContentItem"
`IContentItem `should not have:

 `   public elements: any;`

But instead if should contain a collection of all mapped fields so that they can be easily looped through.

[2017-10-16 10:49] daemoon commented on #25
Hey, so if no type was provided then return value should be of type ContentItem? Can then elements value be object?

[2017-10-18 07:09] Enngage commented on #25
Hi, yeah, pretty much. Currently all types need to be registered during the initialization of the DeliveryClient which means if a new type was introduced in Kentico Cloud & particular instance of that type is included in the resposne, the SDK will throw an Error because it would not recognize the type.

I'm planning some larger refactoring so I will probably have to take this one. Did you want to

[2017-10-18 13:04] daemoon commented on #25
Yeah, I did. But I'm not sure if I'll have time to do this in near future.

[2017-10-25 10:53] Enngage opened #28 "Handle long urls and notify users appropriately"

[2017-10-31 11:21] Enngage opened #29 "Create content management API"
Create another SDK package, that allows using [Content Management API](https://developer.kenticocloud.com/reference#content-management-api) in javascript.

Implementation should be as similar as possible with already implemented [.net conent management sdk](https://github.com/Kentico/content-management-sdk-net).

High-level feature set **Implementation could be split**:
* Importing content items

[2017-10-31 11:22] Enngage opened #30 "Create Tracking API"
https://developer.kenticocloud.com/v1/reference#tracking-api-beta

[2017-11-10 07:32] Enngage commented on #22
Seems we could leverage `bindNodeCallback `function in combination with `request` as per [this](http://reactivex.io/rxjs/class/es6/Observable.js~Observable.html#static-method-bindNodeCallback) and [this]https://stackoverflow.com/questions/43911353/how-to-create-an-rxjs-observable-from-a-node-request)

[2017-11-13 11:15] Enngage opened #31 "Feat: Overload for specifying multiple types for a query (e.g. for items query)"

[2017-11-13 12:45] edouardr opened #32 "Property decorator - Resolving field"
While working with the SDK, I found tedious to create translators for field names.
I would like to propose the following approach to resolve property names: **Use Typescript Decorators to set the codename at the property level**

### Example:

[code]

### Advantages

- SDK being built with Typescript, we can use its Decorator feature
- Easy to read
- no need to create an map object of the code nam

[2017-11-13 13:53] Enngage commented on #32
Hi,

This is awesome. I like the use of decorators. In fact, I'm using that in new Java SDK I'm working on.

Ideally, this mapping should be done in `FieldMapService  `class where current resolving takes place:

[code]
The `ContentItem ` should be a simple model without any business logic. Also, the current property resolver should not be removed because it might need to be used in JavaScript appl

[2017-11-13 15:03] Enngage commented on #22
This is currently under development and if I don't stumble upon any major issues, it should work in Node.js environments just like in browsers with the use of native [http ](https://nodejs.org/api/http.html#http_http_get_options_callback) provider

[2017-11-13 20:32] edouardr commented on #32
Glad you like it! Agreed with you to leave the property resolver for Javascript users.

Yes happy to take it!

[2017-11-13 20:46] Enngage commented on #32
Awesome, thanks! Please go ahead and submit a PR once ready.

On Nov 13, 2017 21:32, "Edouard Riviere" <notifications@github.com> wrote:

[2017-11-14 07:27] #32 closed

[2017-11-14 13:53] Enngage commented on #22
Beta version is now published. It seems to work ok, but we need to keep an eye out for any classes that are not present in node.js out of the box (e.g. I could not use URL class). Any feedback as to how this works is welcomed.

[2017-11-14 21:44] edouardr commented on #22
is the beta version available via NPM?
I will try it in one of my sample projects, will let you know how it goes.

[2017-11-15 02:15] edouardr commented on #22
@Enngage I generated a package out of master branch with `npm pack` (after building the solution).
I then installed the package in one of my project and added the extra param to client as below:
[code]

I then try to run my app where I am doing the following call:
[code]

[2017-11-15 07:57] Enngage commented on #22
@edouardr, thanks a lot for trying this out! Turns out you found a bug. Problem was that query params were not contained within the `pathName` and had to be added manually. I published new version which should be fixed.

Can you try that out and see how that works? Thanks again!

[2017-11-16 13:49] edouardr commented on #22
@Enngage I did try the new version and it seems to work as expected in the few tests that I made!

[2017-11-23 21:46] Journerist opened #34 "Possibility to set base url for api calls"
Hi,

is there a way to set the base url for accessing kentico cloud? I would like to proxy all calls to protect sensitive data. Is there are global config parameter available?

If not can you please add a configuration?

Instead of calling:
https://preview-deliver.kenticocloud.com/{key}/items?system.type=article

it should call:
https://{custom url}/items?system.type=article

when set.

[2017-11-24 04:04] edouardr commented on #34
The urls for delivery and preview API are set in the QueryService class as `private readonly` attributs.

What about exposing them in the DeliveryClientConfig class? QueryService is already instantiated with the config object.

[2017-11-24 06:32] Journerist commented on #34
Sounds Good for me. Looking forward to an implementation and documentation ;).

[2017-11-24 07:14] petrsvihlik commented on #34
See how it's implemented in the .net sdk for reference.

[2017-11-24 08:31] Journerist commented on #34
alright, so what do you mean by that? Do you ask me to contribute ? Or will you do/delegate it?

I'm open minded in this case :).

[2017-11-24 09:03] petrsvihlik commented on #34
@Journerist sorry for confusion, it was rather a generic remark, not addressed to anyone in particular :)

It would be great if you could take care of it.

So what we did in the .NET SDK is that we introduced a [`DeliveryOptions`](https://github.com/Kentico/delivery-sdk-net/blob/master/KenticoCloud.Delivery/Configuration/DeliveryOptions%20.cs) object, adjusted DeliveryClient's [constructors](https

[2017-11-24 09:28] Enngage commented on #34
Hey guys,

This is a good idea. I implemented it so that you can specify base urls when instantiating `DeliveryClientConfig`. I published it in `2.1.2` release:

[code]

Let me know how that works and if you have any further suggestions.

[2017-11-24 09:30] Journerist commented on #34
@Enngage thank you, this is awesome. I'll try it this evening and give you feedback if this works for me.

[2017-11-24 09:33] Enngage commented on #15
Done in wiki

[2017-11-24 09:33] #15 closed

[2017-11-24 20:15] Journerist commented on #34
I already love it, works amazingly. Finally I can get rid of my ugly hack :P. Thanks a lot ! <3

[2017-11-24 20:15] #34 closed

[2017-11-29 10:13] Enngage commented on #25
Done: https://github.com/Enngage/KenticoCloudDeliveryTypeScriptSDK/releases/tag/v2.2.0

[2017-11-29 10:13] #25 closed

[2017-11-29 10:37] Enngage opened #35 "Rxjs treeshaking"
Importing from rxjs such as like:

`import { Observable } from 'rxjs/Rx'
`

 might cause the library to be unnecessary large. We should find out how treeshaking works in this case and if we can make it better.

[2017-11-29 13:32] Enngage commented on #31
Done using [in] cloud url paratemer. New `types` filter was created for this purpose

[2017-11-29 13:32] #31 closed

[2017-11-29 13:51] Enngage commented on #24
fixed

[2017-11-29 13:51] #24 closed

[2017-11-29 13:51] Enngage commented on #19
This is probably a no-go. We will let devs develop their own services.

[2017-11-29 13:51] #19 closed

[2017-12-05 11:14] Enngage opened #38 "Organize imports"
We should organize imports (use e.g. TypeScript Hero) plugin

[2017-12-11 11:33] Enngage commented on #22
Awesome, thanks for the info.

Since there were no issues since this was released and tests are working, I'm closing this.

[2017-12-11 11:33] #22 closed

[2017-12-11 12:32] Enngage commented on #26
Done

[2017-12-11 12:32] #26 closed

[2017-12-14 14:23] Enngage opened #39 "Add documentation coverage"

[2017-12-19 15:35] Simply007 opened #40 "Unclear error message while not providing modular content data"
When I use the code from javascript penultimate code snippets from documentation:
https://developer.kenticocloud.com/docs/get-titles-and-images-of-5-latest-articles

[code]

I got en error (thce the same):
[code]

It is because loaded article is using modular content in the field body_copy and the data for modular content are not in the returned data (default value of the depth parameter is 1).
Er

[2017-12-19 15:36] Simply007 commented on #40
HINT:
you can use http://requirebin.com/ for reproducing the issue - just paste the code open the console and run the code by the button.

[2017-12-26 18:55] JanLenoch commented on #40
Well spotted! Let's raise the depth parameter then.

[2017-12-27 09:19] Enngage commented on #40
Fixed, thanks for the detailed info!

[2017-12-27 13:32] Enngage commented on #40
The error message will not contain further information to help users debug the issue in this format:

``Modular content item with codename '${codename}' is not present in Delivery response.
 +                        This modular item was requested by '${field.name}' field.
 +                        Error can usually be solved by increasing 'Depth' parameter of your query.``

[2018-01-02 19:13] #40 closed

[2018-01-02 20:11] Simply007 commented on #40
Do we wan to add DepthParameter to the pre-ultimate code snippet on https://developer.kenticocloud.com/docs/get-titles-and-images-of-5-latest-articles to prevent raising error in case reader would try it?
Or are we OK thet this code snippet is just a sample and just the ultimate one should be working on our sample project that is specifying fields, that does not require depth parameter to load the

[2018-01-03 07:37] JanLenoch commented on #40
Corrected in the docu.

[2018-01-05 16:33] petrsvihlik opened #41 "SDK tracking header"
**Motivation:**
We'd like to start sending a header for identifying SDKs + their versions with each request from all SDKs. The header would be then tracked by App Insights and should provide us with information valuable for multiple departments in Kentico. App Insights already gather information about the user agent, but that is not always usable or present (there are some screenshots below).

In

[2018-01-06 07:58] Enngage commented on #41
Released with 2.2.3

[2018-01-06 07:58] #41 closed

[2018-01-10 14:16] Enngage commented on #22
Turns out there were issues if AOT was enabled because the code 'required' some native node.js libraries (i.e. 'https') which were used to execute http requests. These libraries could not be resolved and therefore the build process failed. I had to split the node.js support into a dedicated SDK -> https://www.npmjs.com/package/kentico-cloud-delivery-node-sdk

[2018-01-30 08:31] JanLenoch opened #42 "Add support for secured access to published (production) content"
In coming weeks, the Delivery API will start supporting authenticated access.

In the first version of this feature, content will be secured using an API key. The developer will be able to turn the authenticated access on and off for the whole project. There will be one authentication key for the project, not multiple ones (for various user roles, for example).

Implement support for submitting th

[2018-01-31 15:43] petrsvihlik commented on #42
One note: please make the developer aware that the Secured API should not be used from a client-side application (only from Node.js). add a comment to property or something...

[2018-02-02 11:53] Enngage commented on #42
Notes about the 'security' added directly to code & wiki

[2018-02-06 12:56] JanLenoch opened #43 "Support handling of transient faults"
Add a capability of dealing with transient network outages via the following retry policy:

* Let the client code define a maximum amount of retry attempts, preferably via the DeliveryClientConfig class.
* If not specified in the config, the retry policy should be disabled by default.
* If specified, the Delivery client should retry in exponential retry intervals.
* The interval, in milliseconds,

[2018-02-07 06:08] Tungamirai opened #44 "Uncaught ReferenceError: exports is not defined"
Getting an error Uncaught ReferenceError: exports is not defined

at line

`Object.defineProperty(exports, "__esModule", { value: true });
var kentico_cloud_delivery_typescript_sdk_1 = require("kentico-cloud-delivery-typescript-sdk");`

[2018-02-07 07:17] Enngage commented on #44
Hi,

Can you share more details as how you are using the SDK and in what environment? The error you are receiving is often related to using CommonJS while not having it installed. See this [question](https://stackoverflow.com/questions/43042889/typescript-referenceerror-exports-is-not-defined).

[2018-02-07 22:13] Tungamirai commented on #44
@Enngage Hi Thanks for the answer , that was the problem i was trying run it straight in the browser :0 ... ended up using webpack  to bundle it first

[2018-02-08 02:23] dewang opened #45 "Angular AOT build fails when using the Typescript SDK"
We are trying to use the Kentico Typescript SDK in an Angular application.
Angular version: 5.2.0
Typescript version: 2.5.3
Kentico version: 2.3.3

The SDK works fine in local development mode and a normal Angular build. However if you try to run an AOT build it fails with a module reference error. I am not certain but this could be due to how the module is defined.

You can find a reproduction at

[2018-02-08 07:04] Enngage commented on #44
Awesome, thanks for letting me know :-)

[2018-02-08 07:04] #44 closed

[2018-02-08 13:27] Enngage commented on #45
Thanks for reporting the issue. I've confirmed this error.

**Short version:** I've found the root cause and you should be able to use Angular's `aot` in the latest released version `2.5.0`.

**Long version:** This has been the most unfortunate time to report this issue because there is a bug in latest angular CLI (confirmed just Today a few minutes ago - see [here](https://github.com/angular/angu

[2018-02-08 20:27] Suzii opened #46 "Field map service may return outdated content"
Hi, I have this use case in which I believe the `FieldMapService` returns old data. It only happens with modular content and the scenario is as follows:
1. I get an item with modular content via `DeliveryClient.item().get()`.
2. I go to app.kenticocloud.com and update one of item's modular items.
3. I get the same item with modular content again.
4. The raw response (`response.debug.rawResponse.xh

[2018-02-09 00:26] dewang commented on #45
That's perfect, thanks for the quick turnaround.
I've just upgraded to 2.5.0 and can confirm that this does indeed work.

[2018-02-09 09:33] Enngage opened #47 "Get rid of unnecessary classes implementing interfaces"
There are a lot of models that only implement interfaces. In many cases we don't need to have full classes and could do just with having an interface.

[2018-02-09 10:07] Enngage commented on #46
You were absolutely right, thank you for reporting the issue! The `FieldMapService `didn't clear resolved items unless it was reinitialized. This could be an issue especially for SPA. I've released a fix in `2.5.1` version.

Can you try that and let me know?

[2018-02-09 10:10] Enngage commented on #45
Awesome, let me know if you stumble on anything else!

[2018-02-09 10:10] #45 closed

[2018-02-09 20:42] Suzii commented on #46
Works as intended, thanks for a quick fix! :)

[2018-02-09 20:42] #46 closed

[2018-03-07 07:39] Enngage commented on #42
Done

[2018-03-07 07:39] #42 closed

[2018-03-07 07:41] Enngage opened #48 "Critical dependency due to parse5 dependency"
We are seeing a 'Critical dependency' warning being logged in console when building the app (i.e. react, angular..). We should resolve this in some way or use different html parser that works in all environments (node.js, browser...)

Issue [raised ](https://github.com/inikulin/parse5/issues/240)with parse5 with no resolution so far

[2018-03-07 10:33] Enngage commented on #43
Released in `v2.5.3`

[2018-03-07 10:33] #43 closed

[2018-03-23 08:48] Enngage commented on #48
The solution seems to be to use following webpack plugin:

[code]

So, we need to switch to webpack for builds.

[2018-03-26 06:25] Enngage commented on #48
This does not completely solve the problem beacuse it many cases we leave compilation up to the client, so they would need to use this webpack plugin (if they were using webpack in the first place).

We have a bundle which solves this.

Ideally though, we might want to consider using our own parser see [https://medium.com/@gajus/parsing-absolutely-anything-in-javascript-using-earley-algorithm-886e

[2018-04-17 06:57] Enngage commented on #47
Mostly done in v4

[2018-04-17 06:57] #47 closed

[2018-04-17 06:57] Enngage commented on #38
Done in v4

[2018-04-17 06:57] #38 closed

[2018-04-17 06:57] Enngage commented on #35
Done by rxjs 6

[2018-04-17 06:57] #35 closed

[2018-04-17 06:59] Enngage commented on #48
This is implemented in v4 where we use parse5 (v3 so that dynamic import is not used) for working with HTML under node.js and standard DOM when in browser. So far it seems to be working. More testing is required though.

[2018-04-24 06:42] Enngage opened #49 "Separate Core & Delivery specific functionality"
And release 2 packages on npm -> Core & Delivery so that we can easily add new packages in future for Personalization, Content management...

[2018-04-28 18:54] Enngage opened #50 "Use fromPromise operator to get observable"
More at https://github.com/Reactive-Extensions/RxJS/blob/master/doc/api/core/operators/frompromise.md

[2018-05-02 07:48] Enngage commented on #43
Retry functionality is now enabled by default and set to 3 attempts.

[2018-05-02 08:05] petrsvihlik commented on #43
excellent, thanks @Enngage

[2018-05-07 09:20] Enngage opened #51 "Incorrect field type in Types response"
Seems like the type of field in Types response is `string`. It should be mapped to `FieldType` enum instead

[2018-05-09 05:53] Enngage commented on #50
Done

[2018-05-09 05:53] #50 closed

[2018-05-22 10:27] petrsvihlik opened #52 "Add item elements URL generation"
Similarly to https://github.com/Kentico/content-management-sdk-net/pull/9, add functionality for generating content item URLs.

[2018-05-22 10:32] Enngage commented on #52
Should this be part of delivery API? The referenced repo is CM. Also, does this mean we should hardcode kentico cloud backend urls to app?

[2018-05-22 12:43] Simply007 opened #53 "Missing links property in RichTextField"
RichTextField contained property `links` in previous versions.

In the sample site for react code relied on that property. I have made a pull request with the workaround.
* https://github.com/Kentico/cloud-sample-app-react/pull/82

Consider implementing the property back (if so please raise the issue to revert the commit https://github.com/Kentico/cloud-sample-app-react/pull/82/commits/3cb71d28a09

[2018-05-22 13:13] petrsvihlik commented on #52
@Enngage

- it should be a separate package, similarly to [KenticoCloud.ContentManagement.Helpers](https://github.com/Kentico/content-management-sdk-net/tree/master/KenticoCloud.ContentManagement.Helpers) + [NuGet](https://www.nuget.org/packages/KenticoCloud.ContentManagement.Helpers/)

- we shouldn't hardcode the urls to the app, they should reside in the new package (sdk)

[2018-05-23 06:46] Enngage commented on #51
No fix. Its ok as it is.

[2018-05-23 06:46] #51 closed

[2018-05-23 06:55] Enngage commented on #53
Added to `4.0.2`

[2018-05-23 06:55] #53 closed

[2018-05-25 08:56] petrsvihlik opened #54 "Generators link"
@Enngage please agree with our documentation team that the link leading to the generator utility gets changed in the official docu. Ideally, create an issue in the CTC backlog.

https://developer.kenticocloud.com/docs/javascript

[2018-05-25 10:14] Enngage commented on #54
Note added to existing task for renaming SDK. Should be fixed soon.

[2018-05-25 10:14] #54 closed

[2018-05-25 11:46] Enngage commented on #54
Fixed by TWs :)

[2018-06-20 15:34] petrsvihlik opened #58 "Add support for image optimization"
We need to get up to speed with the [.NET SDK](https://github.com/Kentico/delivery-sdk-net/pull/113) regarding image optimization.

Here's the code: https://github.com/Kentico/delivery-sdk-net/pull/113/files

## Example
*Scale*
[image.jpg?mode=scale&width=300](http://res.cloudinary.com/dnbkywmu4/image/upload/c_scale,w_300/v1510122179/cafe04_r8ef4x.jpg)
[image.jpg?mode=scale&height=150](http://res.

[2018-06-21 09:43] Enngage commented on #58
Released in `4.1.0`. [Docs](https://github.com/Enngage/kentico-cloud-js/blob/master/doc/delivery.md#image-transformations)

[2018-06-21 09:43] #58 closed

[2018-06-25 06:03] petrsvihlik commented on #58
Good job @Enngage !

[2018-06-28 13:51] rubenberendsen opened #59 "Problems with filtering"
Hi,

I want to get data from kentico cloud en filter it by a category with a ContainsFilter.

![example-kc-jssdk](https://user-images.githubusercontent.com/38040580/42038311-f20ee9ac-7aea-11e8-8aaa-07cb7c767efb.png)
This is my code

If i check the URL in the console.log than i get this URL:
https://deliver.kenticocloud.com/3e6bfb89-fc83-01fb-256c-7d3da2d9bd64/items?system.type=update&elements.upda

[2018-06-28 14:29] petrsvihlik commented on #59
Thx @kentico-anthonym! Would you care to send a pull request with updated docs (if you have time to spare)?

[2018-06-28 15:19] Simply007 commented on #59
@rubenberendsen
It is exactly as @kentico-anthonym says.

Here is a test covering contains filter functionality:
* https://github.com/Enngage/kentico-cloud-js/blob/master/packages/delivery/test-browser/isolated-tests/url/item-filters.ts#L89

[2018-06-28 15:34] Enngage commented on #30
Done as a separate package.

[2018-06-28 15:34] #30 closed

[2018-06-28 20:34] Enngage commented on #59
Docs updated (https://github.com/Enngage/kentico-cloud-js/commit/6ee960179999d2c3b6b82c1c85d3477137a6036f), closing

[2018-06-28 20:34] #59 closed

[2018-07-02 06:09] martinabrahams opened #61 "Angular 6.0.0 Compatability"
I get the following error when trying to build an Angular 6 project which contains the delivery sdk.

[code]

In my research into the issue I noticed that @Enngage has lodged a ticket about this on the official angular project. It seems like it's an underlying issue with Angular, however it's worth lodging an issue here so other's can see what's going on.

The only workaround which I've found is t

[2018-07-02 06:40] Enngage commented on #61
Hi, have you seen our sample [Angular 6 ](https://github.com/Enngage/KenticoCloudSampleAngularApp)app ? It's currently running on Angular 6. There is an issue with Angular CLI which ignores dynamic require expressions which essentially means that it tries to include node specific, which of course, fails.

The workaround is to tell your app to use 'Browser' specific package which you can do in the

[2018-07-02 23:49] martinabrahams commented on #61
That worked perfectly, thanks!

Also in my case I'm running Angular Universal which runs seperate tsconfigs for server (nodejs) and browser, so I set the path as the non browser bundle on the server and it seems to work perfectly.

[2018-07-02 23:49] #61 closed

[2018-07-03 05:42] Enngage commented on #61
Awesome, glad to hear it! Thanks for the note, I've yet to use Angular Universal so I might incorporate that into the Angular example :-)

[2018-07-05 06:14] Enngage commented on #61
I was finally able to update to `parse5` which strips the dependency out of Node so this should no longer be an issue. Though, the `parse5` is relatively large library so I would recommend using browser specific package if possible anyway. (200KB vs 370KB)

[2018-07-06 10:27] kw-michal opened #62 "Module not found: Can't resolve 'kentico-cloud-delivery'"
Hi, as the title says, after migration to 4.2. webpack can't resolve kentico-cloud-delivery. Version 4.1 works properly.

[2018-07-06 12:47] Enngage commented on #62
Hi, thanks for reporting this. For some reason test files were included in the production release. Can you try with `4.2.1` and see if that helps?

[2018-07-17 05:36] #62 closed

[2018-07-17 05:38] Enngage opened #63 "SPIKE: Automatic generation for the changelog.md"
Validate possibilities for an automatic generation for changelog.md.

Mind that this is a `monorep` repository. Provide the best practice to apply discovered approach for all the repositories (at least all our SDKs).

[2018-07-23 13:17] petrsvihlik commented on #63
what are the benefits?

[2018-07-23 13:48] ChristopherJennings commented on #63
Based on quick research and some quick thoughts, it seems to be pretty standard in the JS community. Also, having changelog notes with the repo itself rather than only in GH seems like a good plan as well. Finally, it allows contributors to make suggestions and contributions to the release notes with their PRs.

[2018-07-23 14:05] petrsvihlik commented on #63
I'm wondering whether it'd be possible to generate the MD from releases...thoughts?

[2018-07-23 14:45] Domitnator commented on #63
Maybe take a look at [semantic-release](https://github.com/semantic-release/semantic-release)? Semantic release has a [plugin ](https://github.com/semantic-release/git)which can generate a changelog.md!

[2018-08-07 16:41] Enngage commented on #52
2. Yes, I'm planning on creating CM SDK as soon as I'll have some more time. To me, it doesn't make much sense to have these methods in Delivery SDK (in the long term) and creating completely new package just for 'generating few urls' is equally nonsensical.

However, if you really want to implement this and since it will take quite some time for the new CM SDK to come out, we can include it in De

[2018-08-07 16:45] Enngage opened #66 "Refactor and improve delivery tests"
Currently, even though tests cover pretty much all features, they can be quite inconsistent and the code quality can be improved as well. It might be worth going through the tests, finding the patterns and recreating some of them (i.e. rich text tests, live tests, field tests..)

Goals (Could be split to multiple issues):
* Generate tests coverage report
    * According to the coverage report deci

[2018-08-08 08:49] vaclavm commented on #52
Thanks for the info. I just wanted to know what is the desired outcome and to understand it better.
Right now, we do not need to implement it right away, we will take other issues from Delivery.SDK.

[2018-08-09 11:43] JanLenoch commented on #49
Would you @Enngage share your thoughts on which parts of the existing codebase should be moved to the Core package?

[2018-08-09 15:52] Enngage commented on #49
I can't say at the moment as it will mostly depend on what will need to be done for the CM API. It will definitely be some sort of `http` service, possibly `html parsers` and object mappers.

[2018-08-22 18:29] Enngage opened #67 "Items response does not contain 'elements' data"
Code such as

[code]

Should contain 'elements' property from the initial cloud response.

[2018-08-22 18:35] Enngage opened #68 "Add custom headers to global settings in Delivery API"
Currently, custom headers can be set on a query level only. It would make sense to make this setting global as well.

[2018-08-25 22:46] liamgold opened #69 "Delivery no longer compatible with create-react-app?"
Since the upgrade of Parse5 from v3 to v5 - https://github.com/Enngage/kentico-cloud-js/commit/47417f1b502aa2e4a610f9511071e27dc973238a

create-react-app/webpack is no longer able to create a build when running yarn build:

[code]

I'm assuming this is expected now it's using ES6 rather?

This also happens in the sample react application: https://github.com/Kentico/cloud-sample-app-react

[2018-08-27 18:32] Enngage commented on #69
You are right.. seems like the parse5 does not publish code in ES5. The workaround I was able to get away with is to use browser umd bundle as the main entry point of delivery js sdk. Basically I went to `node_modules/kentico-cloud-delivery/package.json` and used this as `main`:

` "main": "./_bundles/kentico-cloud-delivery-sdk.browser.umd.min.js"`

React build works fine with this. Do you know if

[2018-08-28 18:15] Enngage commented on #69
Imho, this sounds like something that React should address. Also, I found an issue in Parse5 library where the maintainer said that he wants to target modern code rather than ancient ES5 :-)

I would still like to have a better solution for handling this other than what I mentioned above so any comments are welcomed.

[2018-08-28 19:55] liamgold commented on #69
Yeah I agree with you - it should be React that resolves it, but it does look like they're recommending putting code on npm as ES5 for at least the next couple years.

On the other hand, they are actively working on the 'next' release of react-scripts, currently "2.0.0-next.a671462c".  I've just tested updating my test site to use it, and it seems to be building production code with no problems.

[2018-08-29 08:04] petrsvihlik commented on #69
@Enngage @liamgold  is this something that consumers of this SDK that use it in React projects will regularly be running into? If yes, can it be easily worked around?

[2018-08-29 15:11] Enngage commented on #69
@petrsvihlik, yes, it causes build to fail with `1.x.y` react scripts because react tries to minify it on its own. It would work fine if react enabled developers to disable minification for selected 3rd party libraries. I don't think I'll be able to address this in SDK myself. I would have to take Parse5 dependency, fix it on my own and use that instead.

[2018-08-29 17:31] liamgold commented on #69
I guess another alternative would be if it's reasonable to just leave the SDK as it is, and just add a warning/disclaimer that it should only be used with react-scripts 2.x.y.

At the same time upgrade the react sample application to use 2.x.y alpha version of react-scripts.

[2018-08-29 17:34] Enngage commented on #69
@liamgold yeah, I would go down this road as well. I'll likely prepare some sort of FAQ / Common issues page and try to address it there for the time being. Thanks you for creating this issue and bringing this to our attention :-)

[2018-08-30 08:11] petrsvihlik commented on #69
@Enngage please do.
wasn't the upgrade to ES6 premature? didn't this change effectively prevent people using react 1.x from building their sites with KC JS SDK?

[2018-08-30 12:28] petrsvihlik commented on #69
ok, i get it now, thanks :)

[2018-09-04 13:45] Enngage commented on #27
Closed as invalid. Elements property now keeps the original value from KC API response.

[2018-09-04 13:45] #27 closed

[2018-09-04 13:46] Enngage commented on #49
This is now underway in 5.x.y release

[2018-09-04 13:47] #67 closed

[2018-09-04 14:07] Enngage commented on #68
Closing as done

[2018-09-04 14:07] #68 closed

[2018-09-04 14:50] Enngage commented on #28
There is no universal value for maximum number of characters in URL and SDK should not dictate this either. Developers using SDK will have to make sure their URLs are valid for their own purposes.

[2018-09-04 14:50] #28 closed

[2018-09-04 16:00] petrsvihlik commented on #28
How about this https://github.com/Kentico/delivery-sdk-net/blob/72faab0717cbf0959f3c38cef70987c526e1f470/KenticoCloud.Delivery/DeliveryEndpointUrlBuilder.cs#L9?

[2018-09-04 16:05] Enngage commented on #28
I'm pretty sure thats invalid and has no real purpose (other than maybe the max. string length in .NET?). I would recommend removing that from .NET SDK. For maximum chars in URL I checked mainly the answers from SO here https://stackoverflow.com/questions/417142/what-is-the-maximum-length-of-a-url-in-different-browsers)

[2018-09-04 16:14] petrsvihlik commented on #28
The other option would be to set it to the lowest value - 2k... But you are probably right it's not worth implementing as there is no standard.

[2018-09-04 17:02] Enngage commented on #69
Well, I'll be merging these branches (likely Today) so yeah.. There are quite a few changes in the separation itself so I will create a new branch for CM api only once the master is updated and potentially the v5 released.

[2018-09-04 17:09] petrsvihlik commented on #69
ok, thx

[2018-09-12 10:47] JanLenoch commented on #5
The value added by such a function (as opposed to just a URL property) would be rather minimal.

[2018-09-12 10:47] #5 closed

[2018-09-12 11:28] Simply007 commented on #52
Blocked by #29

[2018-09-13 17:49] Enngage commented on #63
It seems we are unable to fully use the semantic-release because it does not support `monorepo` architecture we use for this repository. The problem with releases right now is that they are not 'package' specific.

I would likely proceed by manually creating/managing CHANGELOG.md files for each of the packages.

[2018-09-14 06:54] Simply007 commented on #63
@Enngage
Manual generation of the changelog would remove the one, and I think the most important, benefit that allows people to add release note proposal via pull request.

If there is a way how to generate changelog automatically and repo independent, I would vote for it. But we need to make it in all our repositories, or at least all our SDKs.

I recommend to close this issue, create an internal

[2018-09-17 16:45] Enngage opened #71 "Add detailed instructions for publishing packages"
We need to add information as to what is the process of publishing packages on npm. Currently, I'm the only one with sufficient permissions, but the process should be outlined publicly as there are some 'extra' steps that need to be done.

Goal:
* Describe process of publishing packages (vie Readme, or WIKI)
* Add permissions for developers community team (ideally to bind it to the: developerscomm

[2018-09-27 16:02] petrsvihlik opened #72 "Rename modular content to linked items"
Based on our vision regarding content items, we have to rename "Modular content element" to "Linked items element". From the Delivery SDK's point of view, it means that we are going to rename everything that contains "modularContent" to "linkedItems".

Checklist:
- [x] updated all members (methods/properties/classes/...)
- [x] updated .MD files
- [x] updated tests
- [x] updated github wiki

Keep i

[2018-10-01 07:09] matus666 opened #73 "Generating strongly typed models fails with Deliver API Secure access enabled"
### Motivation

It would be useful to add this as customers are using it/requiring it.

### Proposed solution

### Additional context

https://www.npmjs.com/package/kentico-cloud-model-generator-utility
intercom convo: https://app.intercom.io/a/apps/e42kus8l/inbox/inbox/1380351/conversations/18749390876

[2018-10-01 10:14] Enngage commented on #72
Done, will be released as part of `5.0.0`

[2018-10-01 10:14] #72 closed

[2018-10-01 10:56] Enngage commented on #73
Released in `1.1.0`. You can use `secureAccessKey` in generator arguments.

[2018-10-01 10:56] #73 closed

[2018-10-01 11:40] Simply007 opened #74 "Cover model-generator package by tests"
### Motivation

It would be great to have [model-generator package](https://github.com/Enngage/kentico-cloud-js/tree/master/packages/model-generator) covered by tests to fulfill our best practices.

### Proposed solution

It would be great to:
* Set up testin framewrork infrastucture ideally the same as for delivery package:
    * [karma ](https://karma-runner.github.io/2.0/index.html)+ [jasmine ]

[2018-10-01 15:23] petrsvihlik opened #75 "Added support for content components"
### Motivation

The goal is to add support for content components (non-reusable content).
From the SDKs point of view, the components behave the same as regular content items. However, they are supported only in the rich-text elements.

`<object type="application/kenticocloud" data-type="component" data-codename="n55afed3a_b4a3_018a_8744_3b06301b1f88"></object>`

The only difference is that the va

[2018-10-01 16:23] ChristopherJennings opened #76 "Add support to generate TypeResolvers"
### Motivation
For the [Delivery Client](https://github.com/Enngage/kentico-cloud-js/tree/master/packages/delivery#kentico-cloud-delivery-sdk) creation, it is possible to provide [TypeResolver](https://github.com/Enngage/kentico-cloud-js/blob/master/packages/delivery/lib/models/item/type-resolver.class.ts), that is mapping content types fo the models (classes).

These models could be generated by

[2018-10-03 13:22] Simply007 commented on #76
I have tried to make it more clear - @ChristopherJennings  - could you take a look if I got it right? :-)

[2018-10-05 09:28] Enngage commented on #61
@r3plica Have you seen the sample Angular application? You can see how tsconfig.json looks like right there: https://github.com/Enngage/KenticoCloudSampleAngularApp#angular-6-support

[2018-10-05 09:30] r3plica commented on #61
Yeah and I used it to build my application, but as martin has done, I am trying to create a Universal application. I think I understand what he has done (just testing now). Instead of using:
https://github.com/Enngage/KenticoCloudSampleAngularApp/blob/master/tsconfig.json#L17
I changed it to:

`"node_modules/kentico-cloud-delivery/_bundles/kentico-cloud-delivery-sdk.umd.min.js"`

But that also doe

[2018-10-05 09:36] Enngage commented on #61
Okey, so for Angular universal take a look at this sample application: https://github.com/Enngage/kentico-cloud-js-angular-universal-starter

It's pretty much the default starter provided by Angular team and only modified to load some data from Kentico Cloud. Can you try using that application on your end? You may notice that in order to fully leverage Angular universal, you need to use Angular's

[2018-10-05 15:20] r3plica commented on #61
Thanks for this, just a quick question. I created a factory to provide the delivery client. It looks like this:

`
import { DeliveryClient, TypeResolver } from 'kentico-cloud-delivery';

import { Attribute } from '../models/attribute';
import { Pillar } from '../models/pillar';
import { Scenario } from '../models/scanario';
import { TechMadeSimple } from '../models/tech-made-simple';

export const

[2018-10-05 16:33] Enngage commented on #61
So, in this case you need to provide the `angularHttpService` as a dependency through your `deps` in factory and then add this as a parameter to your `KenticoServiceFactory` function. Some information about this is in Angular docs here: https://angular.io/guide/dependency-injection-in-action#defining-providers

Hope that helps.

[2018-10-08 08:02] Enngage commented on #75
Will be released in `5.0.0`

[2018-10-08 22:51] petrsvihlik commented on #75
Please remove the functionality. It's not needed anymore.

[2018-10-10 13:23] JanLenoch opened #78 "Do not remove the array of modular (linked) item codenames"
### Motivation

The SDK uses [rich text resolvers](https://github.com/Enngage/kentico-cloud-js/blob/master/doc/delivery.md#resolving-linked-items-in-rich-text-fields) to transform modular (linked) item references found in rich text elements into HTML (or other output format). This is great but the SDK also removes the property that holds the array of codenames from the original response.

In Gatsb

[2018-10-10 14:03] Enngage commented on #78
Available in https://www.npmjs.com/package/kentico-cloud-delivery/v/5.0.0-beta.6

[2018-10-10 14:03] #78 closed

[2018-11-02 07:51] rubenberendsen opened #80 "rXjs IE11"
Hi,

I'm using this sdk in combination with NuxtJS.

My project doesn't work in IE11 and i think this is because of rXjs. Can we use this SDK without rXjs?
Our do you have an another solution?

Example: www.frontis.nl

Thanks

[2018-11-02 07:54] Enngage opened #81 "Make resolvers in delivery async"
Rich text & link resolvers could support returning of Promises/Observables so that client can run async code inside the resolver. Example:

[code]

[2018-11-02 07:59] Enngage commented on #80
Hi,

rxjs does support IE 11. Angular, who heavily relies on rxjs states that here: https://angular.io/guide/browser-support

I think the issue might be with something else. I tried opening your site on my IE and it indeed doesn't work, but I can't read the error because the script is minified. What error do you see in your local dev environment? Are you sure it is caused by this library?

[2018-11-02 10:34] Enngage commented on #80
Update: I've tried running my sample Angular 5 app with latest version of this sdk and it does work in my IE 11 - can you try this on your end as well - https://kentico-cloud-angular-5-demo.stackblitz.io/ ?

[2018-11-05 09:49] Enngage opened #82 "(Delivery & CM) Add property with raw response"
Base responses should contain property with raw data so that devs do not need to use `debug` to access it. Debug should be used only for debugging purposes and data from it should not be used anywhere else.. Also, debug contains different responses based on the used http client (node.js vs browser vs custom one)

[2018-11-05 14:36] rubenberendsen commented on #80
Hi,

My colleague has made a new repository with NuxtJS and Kentico Cloud (https://github.com/Domitnator/NuxtKenticoCloudIE11).

We have different pages with en without Kentico Cloud import.

As you can see the pages with Kentico Cloud Import gives an error in IE11. In Chrome it works perfect.

Thank you

[2018-11-05 15:07] Domitnator commented on #80
Hi Richard,

A little addition to @rubenberendsen his comment.

The repository consist of just a basic nuxtjs project (https://nuxtjs.org/guide/installation)

As you might not be familiar with nuxt:

1. Clone the project: https://github.com/Domitnator/NuxtKenticoCloudIE11.git
2. Run: npm install
3. Run the project: npm run dev

Note that the only difference between the with/without route is the im

[2018-11-06 06:55] Enngage commented on #80
@Domitnator thank you for the steps!

@rubenberendsen, @Domitnator What should I be looking for exactly? I'm able to switch between views with/without correctly. Though, I do see a syntax error in console. However, I do see this error even on view without the import and even if I remove the import completely from the with/index.vue.

![without_syntax_error](https://user-images.githubusercontent.co

[2018-11-06 07:37] Enngage commented on #80
Additionally, I also tried loading data using the SDK with this code:

[code]

[code]
And that seems to work in IE as well:

![ie_sdk](https://user-images.githubusercontent.com/7137351/48049495-26b13f00-e19f-11e8-986d-07efa2b42d20.gif)

[2018-11-14 11:02] Enngage commented on #80
Is there any update on this?

[2018-11-16 12:38] rubenberendsen commented on #80
Yes this will work, but the error in the console is our problem.
Because of that error, other javascript doesn't load correctly and the site is broken.
The get from Kentico Cloud works fine, that's not the problem.

[2018-11-16 13:19] Enngage commented on #80
But I get that console error regardless of whether I import js sdk, so how is the error related to it?

[2018-11-20 09:14] Enngage opened #84 "All typescript packages should use strict build rules"
### Motivation

We should write better/safer code by enforcing stricter rules in ts.config and tslint (e.g. noImplicitAny, noUnsusedParams ....)

### Proposed solution

Configure strict rules in all tsconfigs across repository and implement necessary changes in code

[2018-11-21 14:31] r3plica commented on #61
When you say `angularHttpService`, do you mean `HttpClient`?

[2018-11-21 14:34] r3plica commented on #61
I have changed my service to:

import { Injectable } from '@angular/core';

import { IDeliveryClient, DeliveryClient, TypeResolver } from 'kentico-cloud-delivery';
import { AngularHttpService } from 'kentico-cloud-angular-http-service';

import { Attribute } from '../models/attribute';
import { Pillar } from '../models/pillar';
import { Scenario } from '../models/scanario';
import { TechMadeSimple

[2018-11-21 14:48] r3plica commented on #61
Using that service, it does work.

[2018-11-22 10:06] Enngage opened #85 "Add tslint checks when building packages"
Each package should have its own tslint configuration and build scripts should check tslint first

[2018-11-22 10:09] Enngage commented on #61
Yes, that is the correct use of the service.

[2018-11-22 12:15] #85 closed

[2018-11-22 13:35] Enngage commented on #80
Closing for now, but feel free to reopen if you are able to isolate the error with js sdk

[2018-11-22 13:35] #80 closed

[2018-11-30 09:11] #84 closed

[2018-11-30 09:12] Enngage commented on #81
This will require significant refactoring. If someone is up to it, feel free to take it. I'll come back to this in next major version probably.

[2018-11-30 09:13] Enngage commented on #71
Added to main readme.

[2018-11-30 09:13] #71 closed

[2018-11-30 13:47] Enngage opened #86 "Ability to map response (expose response mapper)"
In some cases we might want to store raw json/response (e.g. in cache) and still leverage strongly typed models. For this reason, we need to a way of mapping this string/json back to original models. For this to work, we should expose response mappers in a better way so that its easy to use by developers.

[2018-11-30 14:24] Simply007 commented on #86
Currently, it is possible to do that like that:
https://github.com/Simply007/apollo-test/blob/master/src/App.js#L23

[2018-12-03 16:50] ematipico opened #87 "Type 'IBaseResponse' is not generic."
### Brief bug description

1. Upgraded kentico-cloud-delivery from 4 to 5
2. Got the following error
[code]

### Repro steps

1. Install the latest
2. Kick off the project

### Expected behavior

It should compile without issue

### Test environment

 - Platform/OS: macOS Mojave
 - Browser Chrome
 - Version latest

[2018-12-03 17:43] Enngage commented on #87
Thanks for the info, I think this is because I didn't update references to newer core version when publishing Today's version. Can you please try `5.2.1` I just published and let me know if that helps?

[2018-12-04 10:19] ematipico commented on #87
The latest version looks good! Thanks for the quick fix!

[2018-12-04 10:19] #87 closed

[2018-12-04 17:02] Enngage opened #88 "Distribute 'testing' http service"
### Motivation

For simple unit testing / faking responses, sample http service should be distrbuted either in core package or in a separate package.

The sample fake http service is currently part of CM api (https://github.com/Kentico/kentico-cloud-js/blob/master/packages/content-management/test-browser/setup/cm-test-http-service.ts)

[2018-12-11 09:41] Simply007 opened #89 "[SPIKE] Describe pros and cons using type-graphql"
### Expected result

It is possible to describe fields by the decorators provided by delivery API:
* https://github.com/Kentico/kentico-cloud-js/blob/master/packages/delivery/lib/fields/field-types.ts
* https://github.com/Kentico/kentico-cloud-js/blob/master/packages/delivery/lib/fields/field-models.ts

Then implement the functionality to generate the schema by providing the schema definition from

[2018-12-20 15:12] petrsvihlik opened #90 "Move npm packages under the official kentico organization"
see the password server for credentials

[2018-12-20 16:21] Enngage commented on #90
I believe the package already is under Kentico organization (I transfered project using npm admin a while ago). You can also see community members (that are part of Kentico org) as **collaborators** on npm:

![npm](https://user-images.githubusercontent.com/7137351/50296793-89bf1280-047b-11e9-8110-ca63e3382d82.png)

Closing for now, but feel free to reopen if I'm missing something.

[2019-01-02 11:06] Enngage commented on #90
All packages in this repo are now under Kentico organization.

[2019-01-02 11:06] #90 closed

[2019-01-02 11:34] petrsvihlik commented on #90
thx!

[2019-01-04 12:00] Enngage opened #91 "Support custom fields"
Delivery API may return custom fields and sdk should be able to handle them and allow developers mapping fields to their own models.

Example response:
[code]

[2019-01-04 12:22] Enngage commented on #88
Test service is currently part of Core package (https://github.com/Kentico/kentico-cloud-js/commit/f2a753513613af4bb61968248262aba19e120d1a)

[2019-01-04 12:22] #88 closed

[2019-01-18 08:30] Enngage opened #92 "Refactor delivery SDK"
To further improve usability and maintainability,the following items should be incorporated in delivery sdk:

- Distribute bundle without Parse5 by default and create separate 'node' bundle?
- Wrap resolved properties so that they are not present on the same level as `system` and `elements` (naming issues) **BREAKING**
- Make `FieldModels.IField` generic representing its mapped value
- Use only `v

[2019-01-21 12:16] r3plica opened #93 "Not compatible with angular 7"
### Brief bug description

The class kentico-cloud-angular-http-service throws an error: error TS2420: Class 'AngularHttpService' incorrectly implements interface 'IHttpService'.  Type 'AngularHttpService' is missing the following properties from type 'IHttpService': put, delete

### Repro steps

Upgrade to Angular 7.2.1

[2019-01-21 12:17] r3plica commented on #93
just so you know, I tried doing this myself:

`    import { HttpClient } from '@angular/common/http';
    import { IBaseResponse, IHttpGetQueryCall, IHttpPostQueryCall, IHttpQueryOptions, IHttpService } from 'kentico-cloud-core';
    import { Observable } from 'rxjs';
    export declare class AngularHttpService implements IHttpService {
        private http;
        constructor(http: HttpClient);

[2019-01-22 10:47] Enngage commented on #93
@r3plica this looks like a mismatch in versions of the `kentico-cloud-core` that you have installed and the one that `kentico-cloud-angular-http-service` actually expects.

Anyway, I've updated the angular service package to use latest `kentico-cloud-core` and released it under `2.1.0` so try updating everything to latest version and it should be ok.

[2019-01-22 10:48] Enngage commented on #91
Resolved via https://github.com/Kentico/kentico-cloud-js/commit/423a9a8e2eae6c44d6e7679b0b268a643fe3aab6 , https://github.com/Kentico/kentico-cloud-js/commit/aad9f12958822884237fe908b0c46fea1fdada75 and https://github.com/Kentico/kentico-cloud-js/commit/f8f6b873cb31445274a03216abc3924db3c51cda

[2019-01-22 10:48] #91 closed

[2019-01-22 12:59] xduseko opened #94 "Delivery client is not working in Internet Explorer"
### Brief bug description

Delivery client installed using webpack (Angular CLI) is not working in latest Internet Explorer. It packs dependency with `const` keyword.

### Repro steps

1. Install Angular CLI
2. Generate new project
3. Install delivery client using `npm i -S...`
4. Use delivery client in way as cloud-sample-angular-pwa-app does
5. Test website on Internet Explorer 11
6. Open develo

[2019-01-22 13:16] Enngage commented on #94
I believe this is the responsibility of Angular CLI (and its configuration) to compile a code certain format (in your case that would likely be ES5 + polyfills for IE).

For example, does this [demo ](https://stackblitz.com/edit/kentico-cloud-delivery-sample) work for you in IE? It does work on my local IE11 instance and so this shouldn't be a library issue.

Angular stop shipping IE polyfills fro

[2019-01-22 14:39] xduseko commented on #94
Thanks for the response. The demo is working in my IE 11 instance. It it compiled using official typescript compiler? I couldn't find any configuration.

I use following configuration in my project:
![image](https://user-images.githubusercontent.com/9591957/51541602-855e8e80-1e59-11e9-9533-60c1b1954af2.png)

Keywords like `const`, `let` and any other language specific features in `.ts` files are c

[2019-01-22 15:06] Enngage commented on #94
I'm not exactly sure how Angular internally compiles the code of 3rd party libraries (though you still need those polyfills for IE).

 As a _quick fix_ you can add `kentico-delivery-client` as an UMD bundle to your angular scripts (`angular.json` -> `scripts`), however using ES6 imports is so much better.

I can try running my own Angular 7 app with delivery client Tomorrow to see what I get.

[2019-01-22 15:34] xduseko commented on #94
Thanks, I will try that if necessary. I would appreciate if you could let me know whether your Angular 7 app is working.
I have tried https://github.com/Kentico/cloud-sample-angular-pwa-app, but it depends on the older version of kentico-delivery-client that doesn't need `parse5`. Also it has many other issues in IE 11.

[2019-01-23 06:43] #93 closed

[2019-01-23 09:53] Enngage commented on #94
@xduseko I've updated my demo angular app to Angular 7 and it runs ok even in IE 11. Did you really include those Angular polyfills for IE?

You can find my Angular repo [here](https://github.com/Enngage/KenticoCloudSampleAngularApp) and online demo [here](https://enngage.github.io/KenticoCloudSampleAngularApp/)

Angular made it really easy to include those polyfills - you only have to uncomment t

[2019-01-23 10:48] Enngage commented on #94
Seems like I wasn't entirely correct - I missed the fact that my sample app already uses UMD bundle defined in ts.config:

[code]

With ES6 imports, I get the same Exception in IE11 as you do. I'm not sure if this is something I can fix, but I'll take a further look.

[2019-01-23 12:14] xduseko commented on #94
I have discovered something that is worth to note. I'm using angular cdk from material lib and it also depends on parse5 library.

[code]

When the application starts, warning appears in the browser console.
[code]

Based on my little research this is webpack complaining about wildcard imports. I have found several in kentico-cloud-delivery, but none in angular cdk.

[code]

[2019-01-23 13:31] Enngage commented on #94
Thats interesting.. I noticed that parse5 is listed as an [optional dependency in angular material cdk](https://github.com/angular/material2/blob/3192dfa1f31012b6a3c87aa3b08b56a15ce75386/src/cdk/package.json#L33) so maybe its not even included /used in your Angular app.

I'll have a look at this and try to get rid of the `import * as parse 5 from 'parse5'`. If that would be possible and fixed this

[2019-02-04 06:54] Enngage commented on #94
Closing for now as the above should be be enough as a workaround for the moment. Hopefully, we will be able to get rid of parse5 alltogether at some point.

[2019-02-04 06:54] #94 closed

[2019-02-08 11:36] matap opened #109 "Image resolver"
### Motivation

I need to transform images, which are in rich text editor. Eg to set max width and type of image by adding query string "w=1200&auto=format"

### Proposed solution

Mayme the best solution is to add resolver for images

### Additional context

All of supported transformations: https://developer.kenticocloud.com/v1/reference#image-transformation

[2019-02-08 11:39] Enngage commented on #63
I've setup `lerna-changelog` which does support monorepo and should help generating changelogs. For this to work, all PRs need to be tagged (as described in main readme) and tags need to be created for each release and package so that we can track changes to each package.

[2019-02-08 11:39] #63 closed

[2019-02-11 08:21] #29 closed

[2019-02-11 14:16] Enngage opened #110 "Support recommendation API"
Kentico released (in beta) a recommendation API (see https://developer.kenticocloud.com/v1/docs/content-recommendation-with-kentico-cloud) which could be made into javascript sdk.

[2019-02-13 07:13] Enngage commented on #109
Implemented in `1.4.0`. See https://github.com/Kentico/kentico-cloud-js/blob/master/packages/delivery/DOCS.md#image-processing-inside-rich-text-fields

[2019-02-13 07:13] #109 closed

[2019-02-13 07:19] matap commented on #109
Thank you

[2019-02-18 15:40] kentico-michaelb opened #113 "HTML & UMD code example results in console error"
Following the HTML & UMD example here: [ https://github.com/Kentico/kentico-cloud-js/blob/master/packages/delivery/DOCS.md#quick-start-html--umd]( https://github.com/Kentico/kentico-cloud-js/blob/master/packages/delivery/DOCS.md#quick-start-html--umd) I receive the console error: `Uncaught TypeError: Cannot read property 'DeliveryClient' of undefined` when opening the .html file in a browser.

Usi

[2019-02-19 09:13] Simply007 opened #114 "Enrich returned data by components from rich text elements"
### Motivation

When developing [Gatsby source plugin for Kentico Cloud](https://github.com/Kentico/gatsby-source-kentico-cloud) I need to have all data that are in KC in one data model to create a GraphQL model form and fill it with data.

Unfortunately, there are no [content components data](https://developer.kenticocloud.com/v1/reference#linked-content). So I am not able to create a model conta

[2019-02-21 12:14] Enngage commented on #113
This is indeed a bug in browser specific bundle (did not affect full bundle). Fixed in `5.5.0`  (https://github.com/Kentico/kentico-cloud-js/pull/115)

[2019-02-21 12:14] #113 closed

[2019-02-26 07:21] Enngage commented on #114
I've added new `linkedItems` property to `DeliveryItemResponse` and `DeliveryItemsResponse` responses. This property contains flat array of all linked items that were resolved during the item mapping.  I don't think I can pass this information to individual fields or resolvers because a that time items might not be yet resolved.

Does this satisfies your requirement? I've released this under `5.6.

[2019-02-26 13:46] rubenberendsen commented on #94
Is it possible to fix this also for package and not only for the browser UDM bundle?

[2019-02-26 15:01] Enngage commented on #94
Maybe I'm missing something, but if you are not using browser UMD bundle it implies that you need to run code on server = **node.js** in which case browser is not to execute the code and therefore the question becomes irrelevant.

If you can share more details, I might be able to help in another way.

[2019-03-05 14:09] CollierCZ opened #133 "CM package uses POST not PUT for updating/upserting assets"
### Brief bug description

When attempting to use `.updateAsset()` or `.upsertAsset()`, the SDK uses POST, which is the wrong method for [the endpoint](https://developer.kenticocloud.com/reference#content-management-api-v2-update-asset).

### Repro steps

1. Use CM package
2. Use `.updateAsset()` or `.upsertAsset()`
3. Log errors to console
4. See 400 error - API doesn't support POST

### Expected

[2019-03-06 08:43] Enngage commented on #133
Thanks for submitting the isuse. I believe this has been fixed by https://github.com/Kentico/kentico-cloud-js/pull/129/files , but it has not yet been released.

I'll release it in upcoming days. Is this required for something or do you have any timeline you need this to work?

[2019-03-06 08:44] CollierCZ commented on #133
No rush. Just putting the API reference together and going through each endpoint.

[2019-03-06 11:32] CollierCZ opened #134 "Add support for workflow steps to CM"
### Motivation

The Content Management API newly supports [operations with workflow steps](https://developer.kenticocloud.com/reference#content-management-api-v2-workflow-steps). These greatly increase the ability to manage content programmatically and integrate with other services involved in publishing.

### Proposed solution

Add the ability to work with workflow steps to the CM package.

[2019-03-06 11:37] CollierCZ opened #135 "Add support for add/delete content type snippets to CM"
### Motivation

In the first week of March, the ability to [add/delete snippets](https://developer.kenticocloud.com/v1/reference?#add-content-type-snippets-beta) will be added to the CM API.

### Proposed solution

Support added to the CM package.

[2019-03-08 12:09] Simply007 commented on #114
I will try it, thanks.

[2019-03-08 12:46] Simply007 opened #137 "Maximum call stack size exceeded for sample Dancing goat project"
### Brief bug description

When I try to load all items for sample Dancing Goat project, I get an error:
`Maximum call stack size exceeded`

Tried on version 5.6.0 and 5.7.1

### Repro steps

[code]

### Expected behavior

Should detect circular reference.

### Error

[code]

[2019-03-08 12:47] Simply007 commented on #114
Raised #137.

[2019-03-08 17:11] Enngage commented on #137
Should be solved by https://github.com/Kentico/kentico-cloud-js/pull/138, but more research and tests are required.

[2019-03-13 06:32] Enngage commented on #137
Further improved and tested in https://github.com/Kentico/kentico-cloud-js/pull/139

[2019-03-13 06:32] #137 closed

[2019-03-16 13:58] matap opened #142 "RichTextElement with links - getHtml() parsing error"
I have rich text element with links (maybe a hrefs?).
When I call props.element.getHtml(), I see error:

browser-rich-text.parser.js:32 Uncaught Error: Parsing HTML failed:Error: HTML node is invalid. Reason: missing 'data-item-id' attribute
    at BrowserRichTextParser.resolveRichTextField (browser-rich-text.parser.js:32)
    at RichTextResolver.resolveHtml (rich-text.resolver.js:29)
    at RichT

[2019-03-16 14:20] Enngage commented on #142
Hey, thanks for reporting this. One question though - are you running this
under node.js or browser? If it's browser, which one?

On Sat, Mar 16, 2019, 14:58 matap <notifications@github.com> wrote:

[2019-03-16 15:26] matap commented on #142
Tested on google chrome 73.0.3683.75

[2019-03-18 15:58] Enngage commented on #114
Closed via https://github.com/Kentico/kentico-cloud-js/pull/139

[2019-03-18 15:58] #114 closed

[2019-03-18 15:58] #82 closed

[2019-03-18 15:59] #66 closed

[2019-03-19 07:13] Enngage commented on #142
It was indeed the case that if you had a 'regular' links in Rich text field, this error would be thrown. However, how did you actually add links to your Rich text field? As far as I know, this is not yet supported. Did you just copy the full `<a ...>` tag as text?

Anyway, it's a valid point so I added support for regular links in latest beta version `6.0.0-beta.1`

[2019-03-19 07:13] #142 closed

[2019-03-19 19:15] marjanatwork opened #147 "The create-react-app is not rendering on IE11, due to kentico-cloud-delivery issue"
Hi,
My create-react-app application is not rendered on IE11. When I Inspect elements, I see this error:
![errorkentico](https://user-images.githubusercontent.com/48732421/54634386-57ec2680-4a3f-11e9-9bc1-c7f1e1519cbd.png)

and when I click on bundle.js in the error message, I get the following message in bundle.js file:
![errorkentico2](https://user-images.githubusercontent.com/48732421/54634584-c

[2019-03-19 21:27] matap commented on #142
I added links in standard way. Nothing special

![image](https://user-images.githubusercontent.com/4975601/54642216-57ca4600-4a94-11e9-971d-97249f729823.png)

[2019-03-20 07:06] Enngage commented on #147
Hi,

This may be related to react issue as described at https://github.com/Kentico/kentico-cloud-js/issues/69

The code you mentioned actually comes from a 3rd party dependency we have (parse5) and likely the fact its not published in ES5 format which is causing IE to fail.

A possible workaround is to instruct react to use the `kentico-cloud-delivery-sdk.browser.umd.min.js` umd bundle instead whi

[2019-03-20 16:09] marjanatwork commented on #147
Awesome! This solution worked for me. Thank you very much for your good guidance.

[2019-03-20 16:09] #147 closed

[2019-03-20 17:13] Simply007 commented on #147
Hello @marjanatwork. I've just sent you an invitation to the Kentico GitHub organization, in case you want to stay up to date with our OS projects.

[2019-03-28 08:26] michalszmyt95 opened #158 "Resolving components in Rich Text Fields by RichTextResolver impossible due to missing 'data-item-id' attribute"
### Brief bug description

After update kentico-cloud-delivery from 5.3.3 to 5.4.0 I've encountered a problem which caused resolving components by RichTextResolver impossible due to missing 'data-item-id' attribute.

### Repro steps

1. Make model with Rich Text Field in Kentico Cloud
2. Create a Content Item and add a Component to it's Rich Text field (without converting the Component to Content

[2019-03-28 11:36] Enngage commented on #158
This is related to https://github.com/Kentico/kentico-cloud-js/issues/142

It's been fixed in `6.0.0-beta.1`, but you can install the latest version [6.0.0-beta.3](https://www.npmjs.com/package/kentico-cloud-delivery/v/6.0.0-beta.2)

It's still in beta, but should be more stable that all previous releases. There are some breaking changes, but all of them should be fairly simple to fix (e.g. renami

[2019-03-28 11:36] #158 closed

[2019-03-29 18:02] ChristopherJennings opened #159 "CM API doesn't expose upsert for content item"
### Motivation

SDK should expose all API functionality

### Proposed solution

Implement upsert for content item similar to other upserts

### Additional context

[Reference documentation for content item upsert](https://developer.kenticocloud.com/v1/reference#content-management-api-v2-upsert-item)

[2019-04-04 08:39] CollierCZ commented on #133
@Enngage, this has been released, right?

[2019-04-04 08:40] CollierCZ commented on #134
@Enngage, was this finished with #155 or is anything remaining?

[2019-04-04 10:46] Enngage commented on #133
Yep, its released. Though, there are some changes to API. I will update you
with the review once I can. I've just returned from Vacation.

On Thu, 4 Apr 2019 at 10:39, Aaron Collier <notifications@github.com> wrote:

[2019-04-15 10:08] matus12 opened #161 "Add support to CM SDK for setting time for scheduled publish"
### Motivation

Currently, setting time for scheduled publish is not supported in the Content Management SDK.

[2019-04-16 06:51] Enngage commented on #134
There are few minor things such as https://github.com/Kentico/kentico-cloud-js/issues/161 but overall I think its pretty much done so I'm closing this issue.

[2019-04-16 06:51] #134 closed

[2019-04-16 06:51] #133 closed

[2019-04-16 07:24] Enngage commented on #135
Released (https://github.com/Kentico/kentico-cloud-js/pull/150)

[2019-04-16 07:24] #135 closed

[2019-04-24 09:12] Enngage commented on #161
Released in `0.0.14`

[2019-04-24 09:12] #161 closed

[2019-04-25 12:57] MilanLund opened #165 "Parsing error on nested components in rich text field after package update"
### Brief bug description

After the package update from 5.2.1 to 5.7.2 I experience the following error:
[code]
![image](https://user-images.githubusercontent.com/2146352/56735846-e3578680-6766-11e9-84a3-91d3fc54b454.png)

It looks like there is a missing reference to a nested component in a rich text element. It seems that the error occurs inside the `getHtml()` method. Increasing the depth para

[2019-04-25 13:10] Enngage commented on #165
Thank you for extensive explanation. Unfortunately, this is a _known issue_ and it happens in situations where child item references any of the parent items in the resolving tree.

This should be fixed in v6 onwards. Unfortunately, this issue was discovered after I started refactoring and I can't update v5 anymore. Can you switch to [6.0.0-beta.3](https://www.npmjs.com/package/kentico-cloud-delive

[2019-04-25 14:11] MilanLund commented on #165
Thanks for the quick turnaround.
I updated to 6.0.0-beta.3 and resolved the "toPromise" breaking change. The issue I describe above has been resolved.
However, another similar issue appeared. I am getting the following error:
[code]
![image](https://user-images.githubusercontent.com/2146352/56741798-d1301500-6773-11e9-9993-3f6c0285e299.png)
Again, the issue happens inside the `getHtml()` method. T

[2019-04-25 14:22] Enngage commented on #165
I'll have to look at the images issue, thanks for letting me know. Can you please get the URL of request you are making (e.g. call `getUrl` method on the query) so that I can test it on my end?

As for your other concern, the change mainly affects the `linkedItems` property in the response object (you might not even be using this as all linked items are also resolved recursively on item level) so

[2019-04-25 14:33] MilanLund commented on #165
Ok, thanks.
https://preview-deliver.kenticocloud.com/ad858591-7c5b-00e9-52c1-796f3aebc535/items?system.type=scenario&depth=2&elements.url=test-my-content
As it is a preview URL, you need an access token. Ask @jancerman or let me know how can I send it over to you privately.

[2019-04-29 06:37] Enngage commented on #165
I wasn't able to reproduce this on my end using your project. Do you still see the error? Looking at the code this error should happen only if the image is not included in response, but I could be wrong. This is the test I've run:

[code]

[code]

I'm using `callout` type and `linkedItems` because this has been the only instance of the image with id `cf59a7b9-6f2c-4c6c-8c51-426753d63e8d` I found i

[2019-04-30 10:07] MilanLund commented on #165
In your example, you call the `getHtml()` method directly on the linked item. To reproduce the error, you need to apply the method on its parent. In version 5.2.1, it works fine. Feel free to paste the following code in the `app.js` file and request the `/test-resolver` endpoint. I gathered and simplified the whole way of getting content, so you can hopefully get the point.
[code]
Inside the value

[2019-04-30 13:22] Enngage commented on #165
Thanks for the description. You're right, there was an issue where resolved HTML was not picked up by HTML parser and resolving context did not contain images from 'current' content item.

This seems to be a bit more complex so I'm gonna have to do some refactoring & tests on the matter, but it should be fixed for now in `6.0.0-beta.4`.

Let me know if that works as intended.

[2019-05-01 09:28] MilanLund commented on #165
I updated the package in the project and tested on the `/test-resolver` endpoint that is outlined in my previous comment. And nothing changed... I am getting the same error. Take your time with the refactoring :)

[2019-05-01 10:33] Enngage commented on #165
Are you sure the package was updated correctly? I've used the exact same code you sent and it worked ok on my end (where previously it thrown the same exception you mentioned) 🐙

I'll try again once I'm back in the office though.

[2019-05-02 07:13] MilanLund commented on #165
Hm, strange. I double-checked, and the issue persists on my end.
![image](https://user-images.githubusercontent.com/2146352/57060652-738f5180-6cba-11e9-9d44-1c629e1b3dce.png)

[2019-05-02 07:45] Enngage commented on #165
Sorry, you're right :-( I implemented the fix only for browser adapter and forgot to do that for `parse5 adapter`.

Can you try `6.0.0-beta.5` ?

[2019-05-02 07:53] CollierCZ opened #169 "Make sitemap_locations optional for CM API"
### Brief bug description

Currently, contracts for updating items have `sitemap_locations` as required. Sitemap is a deprecated feature and will soon not be present.

### Repro steps

1. try `.updateContentItem().withData` without `sitemap_locations`
2. See error

### Expected behavior

Able to update an item without inputting a sitemap location.

### Additional context

It also appears in the Co

[2019-05-02 08:07] CollierCZ commented on #169
My mistake.

[2019-05-02 08:07] #169 closed

[2019-05-02 10:50] MilanLund commented on #165
I confirm that the image issue is now resolved in 6.0.0-beta.5. Regrettably, another problem appeared.
Suddenly, some linked items get rendered twice in the resolver. In the website, request `/tutorials/test-my-content`  or `/` paths in the browser. You should see those duplications.
![image](https://user-images.githubusercontent.com/2146352/57070696-83b62980-6cd8-11e9-8955-28e9ebe9088f.png)
![ima

[2019-05-03 06:59] Enngage commented on #165
I was not able to reproduce this isse. I'm using:

[code]

And the resulting HTML looks like:

[code]

I tried this both under node.js and browser with no apparent duplicates. Is there something I'm missing?

[2019-05-03 08:36] MilanLund commented on #165
I guess you reproduced the issue. Don't you see that the image has been resolved twice?
[code]
Check line 7 in the resulting HTML you have just posted.
[code]
Moreover, check the HTML structure of that line. I don't think it is valid and intended way of how HTML should be structured.

[2019-05-03 08:40] Enngage commented on #165
Ah right, thanks. I was looking at the other images and didn't notice this one identical.

[2019-05-03 09:41] Enngage commented on #165
Turns out `parse5` parses HTML a bit differently. I've added a `data-sdk-resolved` flag attribute to prevent duplicate resolving. Try `@6.0.0-beta.7`. The html I now get looks like this:

[code]
Hopefully its gonna sort this out without any unwanted complications.

[2019-05-03 09:55] MilanLund commented on #165
Okay, thanks. Looks better. However, I still think there is an issue with the HTML structure. The current result is:
[code]
I guess your intention is to have the following structure:
[code]
However, having the `<figure>` tag inside the `<p>` tag is not valid according to HTML specification so that the parser behind comes up with that non-sense. I would rather see the `<div>` tag there. Or better n

[2019-05-03 10:05] Enngage commented on #165
But that is a matter of configuration, right? You don't have to use figure if you don't want to. You may also change the 'p' tag wrapper using the [linkedItemResolver.linkedItemWrapperTag](https://github.com/Kentico/kentico-cloud-js/blob/master/packages/delivery/DOCS.md#client-configuration) client configuration. It defaults to 'p', but I agree it would be useful to use `div` instead. I'll likely

[2019-05-03 11:41] Enngage commented on #165
You're right again :) However, what I find strange is that this happens **only** if **p** tag is used as linked item element wrapper. If I use **div** instead, the code looks like:

[code]

Honestly, I think this is a bug within `parse5` lib. Can you try using **div** for [linkedItemResolver.linkedItemWrapperTag](https://github.com/Kentico/kentico-cloud-js/blob/master/packages/delivery/DOCS.md#cli

[2019-05-03 11:45] Enngage commented on #165
It also works fine if I leave the `object` tag that Delivery API returns initially. What if I removed the ability to set the wrapper tag and just left the `object` there? Do you see any potential issues with that? Would it break formatting or would it not be valid in some cases? You would basically have:

<object type="application/kenticocloud" data-type="item" data-rel="component" data-codename="

[2019-05-06 05:59] MilanLund commented on #165
Many thanks for your suggestions.
I haven't noticed that I can define the tag using the `linkedItemResolver.linkedItemWrapperTag` property. Setting that to `div` makes me happier. In case it is not technically possible to omit the wrapper element, then we have to live with that. With `6.0.0-beta.7` I see no more issues.
I wouldn't leave the `object` tag there as its semantics is understood as a mu

[2019-05-06 05:59] #165 closed

[2019-05-13 17:24] kentico-michaelb opened #171 "Support setting a baseUrl with no projectId"
### Motivation

When a developer wants to hide project-specific data like projectId from their Delivery API calls, they can setup an API proxy that will handle the incoming request from the project and the outgoing request to our API.  When setting the baseUrl to point to the proxy, and setting the projectId to a blank or a null value, the generated url contains a double-slash where the projectId

[2019-05-14 07:52] Enngage commented on #171
I've added support for fully customizing URLs via `proxyUrl` configuration option and updated [docs ](https://github.com/Kentico/kentico-cloud-js/blob/master/packages/delivery/DOCS.md#using-proxy-urls)

You can now use something like this:

[code]

[2019-05-14 07:52] #171 closed

[2019-05-14 12:13] kenticomartinh opened #175 "Add custom type element model"
### Motivation

Custom type element is currently not covered in the content type element model, it should be added to provide the complete scope of this API

https://developer.kenticocloud.com/reference#section-custom-content-type-element

## Additional context

Note that there is also going to be one additional property within custom element configuration `allowed_elements` within the next releas

[2019-05-16 12:09] Domitnator opened #176 "Custom http service"
### Expected result

A working es6/es5 example of implementing the http service

### Additional context

I'm trying to implement a custom http service for the delivery SDK (https://github.com/Kentico/kentico-cloud-js/blob/master/packages/delivery/DOCS.md#using-custom-http-service) but i'm struggling to get it working. What i've done so far:

1. Create a new es6 module for the CustomHttpService:

[

[2019-05-16 12:39] Domitnator commented on #176
Ahh...I noticed in the sourcecode that there is a function retryPromise function which should be implemented. So i now added the function to my class:

[code]

But I am not sure how i should implement this function. I tried several thing but I keep getting a error like:

[code]

[2019-05-16 13:00] Enngage commented on #176
Hi,

The `retryPromise` needs to return a Promise<T>. If you don't need to handle anything, you could just have:

[code]

Or you can use https://github.com/Kentico/kentico-cloud-js/blob/master/packages/core/lib/http/http.service.ts#L28

Does it help? :)

[2019-05-16 13:17] Domitnator commented on #176
Hi @Enngage ,

Returning the promise still gives me a error. But i think that happends because of object i return in the get function:

[code]

What do i need to return for the data and response property? Just some json objects?

Making the global headers a function would really help! Implementing this HttpService is not as easy as i tought it would be.

Or are you able to expose the axios request

[2019-05-16 14:14] Domitnator commented on #176
@Enngage

Sorry to bother you once more, i think i'm nearly there but i'm stuggling with the RxJS of operator. I never worked with RxJS before so i't kind of hard to tell what is going wrong.

What i've got so far:

[code]

The call is being made and a response is returned. But i keep getting a console error:

![image](https://user-images.githubusercontent.com/13468638/57860505-4469fb80-77f5-11e9-

[2019-05-16 16:40] Enngage commented on #176
I'm not sure, but can you try converting the data to JSON?

RxJs is really powerful and awesome, I wouldn't use Promises knowing what I know now. Looking at your code I believe there is a problem with using `of` in this context (I initially used this too) because it causes Promise to evaluate immediately even if the Obsevable is not subscribed to. This goes against the idea of  Observables as they

[2019-05-16 16:57] Enngage opened #177 "Update delivery docs to use toPromise and toObservable"

[2019-05-17 07:17] Domitnator commented on #176
Parsing the data to JSON did not help. I believe it has something to do with the RxJS ```of``` operator. Maybe I will dive deeper into RxJs later. Heard good things about it from others too.

For now i will wait for your global headers solution! We are at the beginnen of the project so we have time! I noticed version 6 is still in beta, any idea when you will release a production version? Because

[2019-05-17 07:38] Enngage commented on #176
Yeah, it's gonna be part of  v6 beta release. It's mainly in beta because of breaking changes (and more are coming), but it is already better than v5. I would recommend using v6 either way :-)

[2019-05-17 10:15] CollierCZ opened #178 "Publishing with CM requires date in the future"
### Brief bug description

When attempting to use `publishOrScheduleLanguageVariant()`, I cannot publish now or at the next scheduled publish

### Repro steps

A few cases
1. Use `publishOrScheduleLanguageVariant` without `.withData` -> type error -- is not a function
2. Use `publishOrScheduleLanguageVariant` with empty `.withData` -> 404 -- "The provided value is not a valid date."
3. Use `publis

[2019-05-25 07:36] andreyrd opened #184 "Delivery SDK: Rich text parser swallows stacktrace"
### Brief bug description
Rich text element parser swallows the stacktrace of any error that might happen inside of the rich text resolver function.

### Repro steps
[code]

### Expected behavior

The call to the function that throws an error should be included in the stacktrace, as well as any functions called inside of that one. But instead the last item on the stacktrace is always `Parse5RichTe

[2019-05-27 06:48] #184 closed

[2019-05-27 06:49] Enngage commented on #184
Thanks for submitting the issue! You are right, the try/catch is unnecessary here, and so I removed it. It will be included in next beta release.

[2019-05-27 11:48] Enngage commented on #176
In `6.0.0-beta.9` you can now either use `httpInterceptor` for request and add headers to the `config` or use `globalHeaders` which is now a function instead of array.

[2019-05-27 11:48] Enngage commented on #184
Released in `In 6.0.0-beta.9`

[2019-05-27 11:57] #176 closed

[2019-05-31 21:05] blhylton opened #189 "Image with id ... was not found in images data"
### Brief bug description

When attempting to get an image that is in a nested component, I get a console error: "Error in render: "Error: Image with id '...' was not found in images data". Inspecting the data shows me that there are indeed no images in my page data.

### Repro steps

1. Insert structured content that contains a rich text element with an image into a rich text editor that has an i

[2019-06-01 06:57] Enngage commented on #189
Hi @blhylton,

Can you let me know how you are using **Rich text** element inside a **Custom element** ? I'm not exactly sure how this would work.

Additionally, Is it possible for you to share the request url? You get url by calling `getUrl` method on any query or just see the network console tab in your browser.

Thank you for submitting the issue and any more information you can provide.

[2019-06-01 07:03] blhylton commented on #189
In my hurry to write all this out earlier, I forgot to mention that I'm using Vue and I'm attempting to resolve my custom structure into a Vue component, so essentially here is what is happening:

* Call`getHtml()` on root RichTextElement
* Renders typical content (i.e. plain-old-HTML)
* Attempts to render custom component using my model's RichTextResolver
* Sub-component renders wrappers correctl

[2019-06-01 07:08] Enngage commented on #189
Can you please share the request **url** or the **full response** you get from KC? This is really the best way how I can further investigate this issue.

[2019-06-01 07:10] blhylton commented on #189
Oh, I just saw you responded while I was typing that last bit.

Okay, so I have a custom element so that my client will be able to easily create two-column layouts and embed them in an already existing Rich Text Element. So my Content Type (I keep saying Component for some reason) has a Left Content and Right Content field that are Rich Text Elements.

The particular request URL that I'm testing w

[2019-06-01 07:14] Enngage commented on #189
Nice coincidence :-)

Thank you for the url. I'll have a look at this on Monday Morning and will update you as I go.

From what you said it seems the issue might be within the SDK. I remember having the same error before and thought it was solved for good (there are some tests for this as well). Maybe your scenario is a bit specific which I have not covered yet.

[2019-06-01 08:04] blhylton commented on #189
So, I did manage to fix it for my purposes, although I don't yet know if this will have any side effects.

The key to fixing it was [in browser-rich-text.parser.ts starting at line 158](https://github.com/Kentico/kentico-cloud-js/blob/delivery%406.0.0-beta.9/packages/delivery/lib/parser/adapters/browser-rich-text.parser.ts#L158) coupled with my comment from earlier:

Since the image resolver is on

[2019-06-03 05:37] Enngage commented on #175
Will be released in next version.

[2019-06-03 05:37] #175 closed

[2019-06-03 05:39] Enngage opened #190 "Update axios dependency"
There was an security issue found within `0.18.0` version of `axios` dependency. `Core` package should update to latest version of `axios` and all dependent packages should update to latest `Core`.

[2019-06-03 06:36] Enngage commented on #189
@blhylton Is there any chance you can also send me the classes & type resolvers you have? I've been trying to register my own classes & rich text resolvers on my end, but so far I haven't been able to reproduce the error.

I guess I'm still missing something and having your full context would help me understand your scenario.

[2019-06-03 17:44] blhylton commented on #189
Given that this is for a client, I'm not sure I want to post all of that publicly. Do you have an email or some other private comm channel where I can send it to you?

[2019-06-03 17:46] Enngage commented on #189
Yeah, sure, feel free to use my github e-mail -- https://github.com/Enngage

[2019-06-03 18:09] blhylton commented on #189
Alright, you should receive an email shortly.

[2019-06-04 11:59] kenticomartinh opened #195 "Web link crashes link resolver"
### Brief bug description

When resolving rich text with a web link, the resolver crashes with the following error:

![image](https://user-images.githubusercontent.com/11004903/58877336-b769e200-86d0-11e9-8fb8-38af5f0c568c.png)

### Repro steps

1. Add web link to some content which is displayed on React sample site
2. Display the content on live site
3. The site crashes

![image](https://user-ima

[2019-06-04 16:37] ematipico commented on #94
I bumped into this issue.

Background: Kentico client has to run into Node AND Browser. When I build everything with webpack, what I get inside the built version is the `umd.js` that contains the `class` keywords. This breaks the usage in IE11.

[2019-06-04 16:46] Enngage commented on #195
Thank you for the detailed description. This issue was indeed a problem in `5.7.2` and it is now fixed in beta `6.0.x`

[2019-06-04 16:46] #195 closed

[2019-06-04 16:48] Enngage commented on #190
Fixed by https://github.com/Kentico/kentico-cloud-js/pull/196

[2019-06-04 16:48] #190 closed

[2019-06-04 16:51] Enngage commented on #189
@blhylton This has been a bit more challenging and we will likely have to revisit the way images are resolved within nested linked items some time in future. The main problem is within the fact that `images` are part of the `richText` field and if you have nested resolving, there is no field context as we can only know the root field on which the getHtml is called. I've solved it currently by goin

[2019-06-04 18:10] blhylton commented on #189
It appears that that did fix my issue. I'll go ahead and close this, but I wouldn't mind continuing to discuss how to improve this since we have a few clients that will likely be using this in the future.

[2019-06-04 18:10] #189 closed

[2019-06-05 08:32] Domitnator commented on #176
Hi @Enngage ,

Just wanted to let you know I've got it working now by using the globalHeaders function! Great work!

Kind Regards,

Alfred

[2019-06-05 09:21] ematipico opened #197 "Browser distribution is not IE11 complainant"
### Brief bug description

While importing the browser distribution inside my bundle, it turns out that it's not fully compatible as it contains a `Symbol` at the end of the file:

`var e=Symbol("codename")`

Which breaks on IE11.

### Repro steps

1. Import the browser umd distribution (doing it with webpack in my case)
2. Run it on a browser

### Expected behavior

It should work.
Browser distri

[2019-06-05 10:24] ematipico commented on #197
`Symbol("codename")` is coming from `reflect-metadata`, which is a dependency. What's the suggested solution for this case?

[2019-06-05 11:58] Enngage commented on #197
@ematipico Can you try using this legacy bundle and let me know how that works?
[kentico-cloud-delivery-sdk.browser.legacy.umd.min.zip](https://github.com/Kentico/kentico-cloud-js/files/3257028/kentico-cloud-delivery-sdk.browser.legacy.umd.min.zip)

[2019-06-05 12:31] ematipico commented on #197
Thanks for your answer! I am using the browser umd version as workaround of this issue https://github.com/Kentico/kentico-cloud-js/issues/94.

I eventually made it working by sticking babel polyfills at the beginning of the generated bundle. This solution works!

[2019-06-05 12:35] Enngage commented on #197
Great to hear that :-) I'll be releasing new `legacy` bundle for both CM and Delivery starting from the next releases. Its definitely good you brought this up again :)

[2019-06-05 12:46] #197 closed

[2019-06-05 13:53] ematipico commented on #197
Thanks! This is really appreciated!

[2019-06-10 17:51] mahpour opened #200 "Detecting the types automatically when running queries"
### Motivation

Currently we need to pass the type of the contents twice when we use the Content Delivery client:

[code]
but we already have a mapping defined when we create the deliveryClient:

[code]

### Proposed solution
`.items<T>()` should get information from the typeresolver and apply it to the rest query. and we shouldn't need to have the `.type('content_type')` call again

[code]

### A

[2019-06-10 18:11] Enngage commented on #200
Hi @mahpour,

Thank you for submitting an issue on our GitHub!

What you are suggesting can and does work in certain languages (C#, Java...), but cannot work with TypeScript as all types are essentially stripped when compiling to JavaScript and this information is not available at runtime.

In order for this to work you would have to pass constructor so that you would have:

[code]
But that kind o

[2019-06-11 16:54] Enngage commented on #200
Closing, but feel free to let us know if you have any further questions.

[2019-06-11 16:54] #200 closed

[2019-06-11 18:39] mahpour commented on #200
I reviewed the code for deliveryclient [here](https://github.com/Kentico/kentico-cloud-js/blob/master/packages/delivery/lib/client/delivery-client.ts)

here's the `items` method signature
[code]
`this.config` is referring to the configuration object which holds the type resolver definitions [here](https://github.com/Kentico/kentico-cloud-js/blob/master/packages/delivery/lib/config/delivery-client.

[2019-06-11 18:51] Enngage commented on #200
Yes, that is correct - you may use `instanceof` because the content items are resolved using the type resolvers. However, typeResolver is identifying by `system.type` attribute of each content item and **not by generic type** passed to method - that is not possible to do in TypeScript.

Passing generic argument to `items` or `item` method is only for your benefit and so that you get intellisense,

[2019-06-12 00:03] mahpour commented on #200
That makes more sense now. Thanks for clarification. 🙂

[2019-06-12 07:39] matus12 opened #201 "Automatic retry of 429 error in Content Management SDK"
### Motivation

The default retry policy in Content Management SDK could retry the 429 errors and take into consideration the `retry-after` header value. This way I get the maximum possible rate of requests to Kentico Cloud without implementing my own retry policy.

### Proposed solution

Retry 429 errors based on `retry-after` header value.

[2019-06-14 20:21] Enngage opened #202 "Optimize polyfills"
We should remove duplicate polyfills and remove those that are not actually used.

[2019-06-24 05:54] Neytus opened #203 "Generate models that comply with tslint recommended rules"
### Motivation

Creating models with the Model Generator set up for CommonJS module and TypeScript language, does not end up with a result that complies tslint recommended rules.

![image](https://user-images.githubusercontent.com/11269013/59994655-f696ad80-9654-11e9-9b47-767955ec3059.png)

Namely:
* There is a blank line before the first import.
* One line in the commentary above the class exceed

[2019-07-12 06:25] darrencaprani opened #210 "Content-type header passed in GET request"
The get request coming from the library when I get items from the Kentico Cloud Delivery client is sending a content-type header in GET requests.

Content-type describes the type of the request body. GET requests don't have a body and therefore it shouldn't have a content-type header.

We use the Kentico Cloud delivery client inside a WAF and every get request is triggering an alarm so please remo

[2019-07-12 07:30] Enngage commented on #210
Hi,

I've just checked this and `content-type` request header is not actually being send in Delivery API when the request body is empty. The request headers I get when calling `items()` endpoint are (on the latest beta `6.0.0-beta.10` version)

[code]
The http client we are using (axios) automatically removes `content-type` header when the body is empty.

Can you elaborate a bit more on when and w

[2019-07-12 10:09] darrencaprani commented on #210
We're seeing this when running it from node. Is that from a browser request?

[2019-07-12 12:15] Enngage commented on #210
I've released new beta version for delivery `6.0.0-beta.11` (https://www.npmjs.com/package/kentico-cloud-delivery/v/6.0.0-beta.11) which should no longer send `Content-Type` headers under node.

Could you please try this version and let me know?

[2019-07-15 13:26] Enngage commented on #210
Did you had a chance to test this with the new release?

[2019-07-16 07:03] Enngage opened #214 "Add support for caching HTTP requests"
### Motivation

Reduce the amount of HTTP requests made by application & increase app's responsiveness

### Proposed solution

There are 3 ways to accomplish this:

1) Have cache as a part of `kentico-cloud-delivery` package
2) Have cache as part of `kentico-cloud-core` package
3) Create new `HttpService` which incorporates cache and let packages register it instead of default one

### Additional

[2019-07-16 11:12] darrencaprani commented on #210
I'm using version 5.7.2. When I update to version 6.0.0 there are a lot of breaking change (I guess hence the increase in major version number). Is there any chance to get this change in version 5.7.X?

Thanks,
Darren

[2019-07-16 12:33] Enngage commented on #210
Unfortunately I can't do a new release for `5.x.y`, but if I can I would recommend you to give it a try with the `6.0.0-beta.11` as there are not that many changes yet. If I recall correctly, you could fix majority (if not all) issues by replacing

`.getObservable` or `.getPromise` with `.toObservable` or `.toPromise`.

There is also a change in `linkedItems` property so that it is no longer an ar

[2019-07-16 12:37] darrencaprani commented on #210
Unfortunately, the security team in my client will not allow me to use a beta release.

I'll have to wait for the stable release.

I'll add a custom httpService for the time being and remove that default content-type on get requests.

Thanks for your help,
Darren

[2019-07-16 12:44] Enngage commented on #210
Ah, okay, thank you for letting me know.

The only reason it is in beta release is that it contains breaking changes and we have to coordinate release with documentation team & update docs across our portals. Otherwise, the beta version I mentioned is more stable, has some bug fixes from v5 and contains more tests.

Our plan is to release v6 around the beginning of August.

[2019-07-16 12:44] #210 closed

[2019-07-16 12:53] Enngage opened #217 "Ability to dynamically resolve Angular (+ potentially other FW) components used in rich text elements"
When `richTextResolver` is used to generate html with **components** or **directives** and then passed to angular using e.g. `innerHtml` the output is rendered just as html and no components / directives are not resolved.

This behavior is correct because Angular doesn't know how it should resolve components inside html (which is just a string). In order for this to work, developers need to create

[2019-07-17 06:22] Enngage opened #219 "Update model generator for v6 delivery"
Breaking changes in v6 make model generator invalid. We should adjust generated models accordingly.

[2019-07-17 08:17] Enngage commented on #202
Still needs more testing, but closed by https://github.com/Kentico/kentico-cloud-js/commit/677c2b906d06cd3abe901a4899caa08abee91343

[2019-07-17 08:17] #202 closed

[2019-07-17 08:17] #177 closed

[2019-07-17 08:18] Enngage commented on #86
Fixed by https://github.com/Kentico/kentico-cloud-js/pull/218

[2019-07-17 08:18] #86 closed

[2019-07-17 11:37] Enngage commented on #92
Most mentioned items implemented in separate PRs. Closing as remaining items will have their own dedicated issues.

[2019-07-17 11:37] #92 closed

[2019-07-19 06:57] Enngage opened #223 "Consider splitting to multiple github repositories"
While having a monorepo proved to be useful during the main devleopment phase, there are many limitations which prevents from:

- Seeting what public repositories use our packages (new GitHub feature based on package.json)
- Using code coverage tools
- Not easily possible to automate stuff with Travis or Circle CI
- May be difficult for newcomers to get started (aka what is kentico-cloud-js? havin

[2019-08-01 11:17] Enngage opened #224 "Add ability to specify X-KC-Wait-For-Loading-New-Content globally"
DeliveryClient should have an option for specifying whether `X-KC-Wait-For-Loading-New-Content` should be used globally for all requests - unless it is disabled by particular query.

[2019-08-01 12:09] Enngage opened #225 "Change value type of UrlSlugField"
Currently the value of UrlSlugFields can be string or result, but its difficult to know which one and checking if one field exists or not is not ideal. The value of url slug field should be always a string

[2019-08-05 09:19] #225 closed

[2019-08-05 12:40] Enngage commented on #224
Fixed by https://github.com/Kentico/kentico-cloud-js/pull/227

[2019-08-05 12:40] #224 closed

[2019-08-06 07:47] Enngage opened #228 "Provide models for Webhook"
SDK should provide predefined models representing web hook data so that developers can easily work with the data.

This could probably be a new package since web hooks are not related to neither Delivery/CM/Recommendation APIs, but are rather generic.

[2019-08-20 09:28] Enngage opened #237 "Extend RichTextElement with codenames of linkedItems & components"

[2019-08-22 08:05] Enngage opened #240 "Helper method to get array of linked items"
Delivery listing items response might contain method that converts `linkedItems` to array of `ContentItem` objects.

[2019-08-22 08:05] Enngage commented on #237
Done in `6.2.0`

[2019-08-22 08:05] #237 closed

[2019-08-22 08:05] Enngage commented on #219
Done

[2019-08-22 08:05] #219 closed

[2019-08-22 08:07] Enngage opened #241 "Return array of mapped elements from ContentItem"
Add method to `ContentItem`  (`IContentItem`) which will return array of all mapped Elements. This is so that devs do not need to iterate over object properties and check their type.

[2019-09-03 16:38] Enngage opened #245 "Ability to add/remove registered type resolvers in existing delivery client instance"

[2019-09-03 18:44] ChristopherJennings opened #246 "Implement "List Language" call"
### Motivation

Exposes existing endpoint for listing a project's languages.

### Proposed solution

CM SDK has new classes/methods to support this endpoint.

[2019-09-04 13:18] #246 closed

[2019-09-10 08:46] alesk-kentico opened #250 "Detect stale content"
### Motivation

To improve response times Delivery API might provide stale content. Stale means that there is a more recent version, but it will become available later. This information is important for developers who implement caching because stale content should have a short TTL. Developers can inspect the value of the **X-Stale-Content** response header. **1** indicates that content is stale. I

[2019-09-30 10:34] Domitnator opened #255 "Debug element is being added while isDeveloperMode is false"
### Brief bug description

I noticed that a debug element is being added to the result while isDeveloperMode is set to false

### Repro steps

1. set isDeveloperMode  to false
2. Make a api call
3. console.log the result
4. Notice that a "debug" element is present

![image](https://user-images.githubusercontent.com/13468638/65871259-4edcfa00-e37e-11e9-8a6c-fdf09b69c92f.png)

### Expected behavior

[2019-09-30 13:00] Domitnator opened #256 "Support self signed certificates for proxy's"
### Motivation

I am using the proxy feature to talk securely with my secure kentico kontent repository via somee middleware. My middleware is created in .net and running with a self signed certificate. The SDK is throwing a reject error because of the fact that the development endpoint is sucered with a self signed certificate. This makes debugging harder.

### Proposed solution

[Support the axi

[2019-10-01 07:38] Domitnator commented on #256
Note: this only happends when call's are made from the (node) server.

[2019-10-03 11:51] Simcsa opened #257 "Add a binary file URL to the asset response model in the CM SDK"
### Motivation

Return the new property (binary file URL) that was added to the asset response model.

### Proposed solution

You may get an inspiration from the .NET SDK fix:
https://github.com/Kentico/content-management-sdk-net/pull/40

[2019-10-14 10:17] sutrkiller opened #262 "Add support for items-feed endpoint"
### Motivation

Allow developers to fetch all content item variants from the new `\items-feed` endpoint.  This offers developers a way to export an entire project no matter the size.

### Proposed solution

The content is is provided in small chunks together with a continuation token for the next chunk. The continuation token is sent in `X-Continuation` header both for request and response. Should

[2019-10-14 10:19] sutrkiller opened #263 "Improve retry policy for requests"
### Motivation

From February 1st, 2020 Delivery API will start enforcing rate limits to ensure fair usage by as many clients as possible. These rate limits should be high enough to work for most clients by default. However, in particular cases Delivery API might respond with `429 Too many requests`. These responses will also contain the `Retry-After` header indicating how long the client should w

[2019-10-14 12:19] Enngage commented on #250
Fixed by https://github.com/Kentico/kontent-delivery-sdk-js/commit/3dc50463a70a3f70e3f0920ed11758f62efdb236

[2019-10-14 12:19] #250 closed

[2019-10-15 07:16] Enngage commented on #256
Thanks for submitting the issue!

I've exposed `AxiosRequestConfig` in the `HttpService` so you can now fully configure it as per Axios' documentation. For your scenario you could use it like this:

[code]
This commit is not yet released, but will be soon.

[2019-10-15 10:28] Enngage commented on #255
There is very little overhead in displaying the `debug` data, but for clarity I'm taking the `isDeveloperMode` into account so it doesn't show up unless enabled.

[2019-10-15 10:28] #255 closed

[2019-10-15 10:30] Enngage commented on #245
There seems to be very small usecases for this -> closing.

[2019-10-15 10:30] #245 closed

[2019-10-15 10:30] Enngage commented on #223
Done

[2019-10-15 10:30] #223 closed

[2019-10-15 10:31] Enngage commented on #178
Moved to https://github.com/Kentico/kontent-management-sdk-js/issues/5

[2019-10-15 10:31] #178 closed

[2019-10-15 10:32] Enngage commented on #201
Moved to https://github.com/Kentico/kontent-management-sdk-js/issues/6

[2019-10-15 10:32] #201 closed

[2019-10-15 14:56] Domitnator commented on #256
Great! Looks promising!

Btw: You happen to be at the Kentico Usergroup Meeting in Breda (The Netherlands) on 30 oktober?

[2019-10-23 08:31] Enngage commented on #262
Fixed by https://github.com/Kentico/kontent-delivery-sdk-js/commit/29913c984b073166a8f0ddc12f69106c7d476efd

[2019-10-23 08:31] #262 closed

[2019-10-24 13:35] Enngage commented on #263
Retry policy was implemented in `@kentico/kontent-core` package according to this description and this library was updated accrodingly in https://github.com/Kentico/kontent-delivery-sdk-js/commit/e2abd02a233f78f9c9152397f5eb915d73ba1189

[2019-10-24 13:35] #263 closed

[2019-10-27 03:49] Pr0methean commented on #76
The links to https://github.com/Enngage/kentico-cloud-js/tree/master/packages/model-generator and https://github.com/Enngage/kentico-cloud-js/tree/master/packages/model-generator#configuration are both 404s.

[2019-10-27 09:53] Enngage commented on #76
Hi @Pr0methean, where did you find these links? Yeah, the link you sent is the correct one.

[2019-10-27 21:52] Pr0methean commented on #76
@Enngage They're in this issue's description.

[2019-11-21 22:04] AndrewEHarding opened #266 "Some Customer Feedback"
### Motivation

A customer on intercom was having some trouble following the documentation for the repo and suggested an edit that might have saved them some time.

### Proposed solution

To quote: "Maybe this should be added to the documentation: https://github.com/Kentico/kontent-delivery-sdk-js/blob/master/DOCS.md#globally"

### Additional context

Intercom conversation: https://app.intercom.io

[2019-11-22 15:28] drasive opened #267 "IContentItemsContainer is not iterable"
### Motivation

IContentItemsContainer is not iterable. This means ContentItem classes with properties like
`public someArrayProperty: Elements.LinkedItemsElement<ContentItem>;` cause GraphQL errors:
`Expected Iterable, but did not find one for field [xxx].someArrayProperty`.

This worked in kentico-cloud-delivery v5.7.2 because the linked items were arrays (https://github.com/Kentico/kontent-deli

[2019-11-22 15:32] drasive commented on #267
This might be related to #241

[2019-11-24 09:25] Enngage commented on #267
Hey,

Yeah, the `IContentItemsContainer` is not iterable as I didn't want to convert it to array myself, but keep the structure of what Delivery API returns. There is a fairly easy extension method that can convert it to back to array which I wanted to implement in the issue you linked.

I'm planning on adding just the method, but not additional array property. I'm assuming this will be ok for you

[2019-11-24 09:26] Enngage opened #268 "Bug: Fix github link in package.json and fix urls in changelog"

[2019-11-25 08:25] Enngage commented on #266
Hi @AndrewEHarding,

Please don't link internal conversations on github and rather explain the issue + motivation here on github so that everyone can see what the issue is about and so that it can be easily trackable in future.

I went through the conversation and I'm not sure there is any value in extending the documentation as the function is called within the context of a particular linked item

[2019-11-25 08:25] #266 closed

[2019-11-25 08:26] #256 closed

[2019-11-25 08:38] Enngage commented on #267
I've added the helper method, but its actually very easy to make an array of the linked items object. It's gonna be released with next version.

It looks like this:

[code]

[2019-11-25 08:38] #240 closed

[2019-11-25 08:38] #268 closed

[2019-11-25 10:04] #241 closed

[2019-11-25 11:12] Domitnator commented on #266
@Enngage

In my opinion the last part is only true if you have a deeper understanding of the system. Only in the code-comment something is stated about linked items:

![image](https://user-images.githubusercontent.com/13468638/69533218-b2973400-0f77-11ea-8d9c-529e1fcfb1b4.png)

In my case I just copied and pasted the code into my project and was expecting the "richTextResolver" callback to be trig

[2019-11-26 14:32] drasive commented on #267
Adding the method is useful but doesn't solve the GraphQL issue as the object itself needs to be iterable.

### Issue
The GraphQL schema generated by @kentico/kontent-schema-generator-graphql 2.0.0-rebranding.2:
[code]

Executing the following GraphQL query will lead to an error:
[code]
So the generated GraphQL schema and what is actually returned from @kentico/kontent-delivery v8.0.0 doesn't matc

[2019-11-26 15:47] Enngage commented on #267
This is probably more related to the `@kentico/kontent-schema-generator-graphql` rather than this sdk. It would be possible to enhance the object by the schema generator plugin. I'm adding @Simply007 as he is the author for gatsby plugin. Is this something you want to implement?

[2019-11-28 09:21] Domitnator opened #269 "resolveHtml: Cannot read property 'length' of undefined"
### Brief bug description

When we try to use 2 typeresolvers, which use the richTextResolver-callback, we get an error :

[code]

### Repro steps

In our kentico.ai we have a richttext field which has a linked-item:

![image](https://user-images.githubusercontent.com/13468638/69792838-a4d7ed80-11c7-11ea-992b-9792f9d18087.png)

In our nuxtjs configuration we have 2 ContentItem types:

[code]

and

[2019-11-28 12:10] Enngage commented on #269
Hey,

We are using multiple `TypeResolvers` in many projects so thats definitely not a problem. From the stractrace I can see that the code is running on node.js and that the exception is coming from the `parse5` library - probably due to invalid / missing html.

This could make sense as it your example your are `not` returning any value from `richTextResolver`. Depending on what IDE you are using

[2019-11-28 15:02] Domitnator commented on #269
That's it indeed! Thanks for your quick response!

[2019-11-28 15:02] #269 closed

[2019-11-29 10:46] Simply007 commented on #267
@Enngage  is right - I have incorrectly set linked items element in the generator:
* https://github.com/Kentico/kontent-schema-generator-graphql/issues/18

[2019-11-29 11:52] #267 closed

[2019-11-29 12:14] Simply007 commented on #267
And one more fix - should be OK in 2.1.1 ([placed incorrect field name](https://github.com/Kentico/kontent-schema-generator-graphql/commit/ab4e593692b6adc96dd738d4f1039146667a36ef)) of graphql schema generator

[2019-11-30 13:22] petrpalas opened #270 "readme.md file contains invalid links"
The links to sample apps in the examples/readme.md file do not work - they lead to 404 page.

https://github.com/Kentico/kontent-delivery-sdk-js/tree/master/examples

[2019-12-01 10:54] #270 closed

[2019-12-01 10:56] Enngage commented on #270
Thanks! Links should now be working. In some cases it was caused by repository still using old "kentico cloud" naming so I've renamed those repositories as well.

[2019-12-02 09:04] Domitnator opened #271 "Taxonomy for linked items?"
### Expected result

We are using typeresolvers and the urlSlugResolver-callback for creating our URL's. But some of the url's are dependant on the taxonomy of the linked item. Is there a way to retrieve the taxonomy of a linked item? We would rather not do a request for every item (which is our solution right now).

### Additional context

The only fields we get right now are:

codename, link, ty

[2019-12-09 15:55] surfinzap opened #272 "Add support to resolveHTML for an image"
### Motivation
This is how Image is resolved in Rich-text element today:
[code]
For our project we need to render image in the following way:
[code]

### Proposed solution
Ideally, I would able to extend resolver for an image su supply my desired HTML markup.

[2019-12-10 09:10] Domitnator commented on #272
@surfinzap You have to implement the [richTextResolver ](https://github.com/Kentico/kontent-delivery-sdk-js/blob/master/DOCS.md#resolving-content-items-and-components-in-rich-text-elements)for that and make sure you insert the image as a component (so you might also need to create a new content model for that):

![image](https://user-images.githubusercontent.com/13468638/70515133-1f442e00-1b35-11e

[2019-12-10 09:21] surfinzap commented on #272
@Domitnator thanks! That's exactly how I worked around it. But from the perspective of content editor, it is an unnecessary step I have to teach them. That's why it would be better to be able to write own resolver for images.

[2019-12-10 12:11] Enngage commented on #271
Hi,

If the link is represented by a linked item and that linked item is present in Delivery API response, you can access full item in the second parameter of the callback - in your image it would be under the `context` property. Can you check that out?

[2019-12-10 15:40] rubenberendsen commented on #271
Hi,

We have checked the response of the **context**.item and that is undefined.

![image](https://user-images.githubusercontent.com/38040580/70543635-fccd0780-1b6a-11ea-80fa-54b1e88a6c89.png)

We are doing the following call:

[code]

We also played with the depth parameter and elements parameter (deleting them) but that makes no difference.

Can you check on your side if the context.item is defi

[2019-12-10 18:31] Enngage commented on #271
Can you check if the content item is present in raw delivery response? The `context.item` is defined only when such item is in delivery response, thats why it is optional and not required.  I can't really test this on my own.

[2019-12-12 15:31] rubenberendsen commented on #271
Hi Richard,

This is the response we get:

[code]

![image](https://user-images.githubusercontent.com/38040580/70725117-18b3e300-1cfc-11ea-9114-dd0e526719d2.png)

This is the GUID of the item we need to UrlResolve.

The item we include in the rich text as a component is included in the modalur_content (that's great). We expected the same for the content link in the richtext editor.

This is our ri

[2019-12-14 14:35] chaelli opened #273 "href not set even though urlSlugResolver is set"
### Brief bug description

In the react tutorial (https://docs.kontent.ai/tutorials/develop-apps/get-started/building-your-first-react-app-part-2) a urlSlugResolver is used for - I assumed - writing correct urls into the links. But when I open http://localhost:3000/post/coffee-processing-techniques the link in the richtext ( delicious cup lying on your table) has no href.

### Repro steps

1. Clon

[2019-12-16 07:33] Enngage commented on #271
Hey Ruben,

I see what you mean. I tested it on my own too and Delivery API does not include item linked as link in the response. I asked around and currently there is no way to enforce this. I added a feature request internally, however currently the only solution seems to be using either **components** or **linked items** in the rich text instead. Then, you can use `richTextResolver` and transfo

[2019-12-16 12:59] CollierCZ commented on #273
HI @chaelli. The issue you described here was about the implementation of the React tutorial (which was initially written a few versions of the Delivery SDK ago). When implementing a link resolver, it's now best to define the url property of an object, as you can see in the [commit](https://github.com/Kentico/kontent-tutorial-react-js/commit/a7cd4d982083eb49a42b94b68c29a5e9a65850b7) that added the

[2019-12-16 20:05] chaelli commented on #273
thanks! That worked perfectly

[2019-12-16 20:05] #273 closed

[2019-12-18 10:21] Enngage opened #274 "Add automatic paging support"
Add ability to automatically retrieve all items in queries that support paging.

[2019-12-18 14:35] rubenberendsen commented on #271
Hi Richard,

It will be great if it will be fixed, You can indicate when this will be picked up or when it will work in this JS SDK?

[2019-12-18 15:34] Enngage commented on #271
Hi Ruben,

I think this is rather a new feature rather then a bug. The initial idea was to rely on url slug only when using link in combination with linked item. Your scenario is a bit different and there is good workaround with components so I don't think there will be any change to this behavior any time soon. But it really depends on our product managers, there is only so much I can do :)

[2020-01-10 13:55] Simply007 opened #275 "Implement resolution to `itemsFeedAll` method"
### Motivation

Related to https://github.com/Kentico/gatsby-source-kontent/issues/97

From the 1st of February the `/items` endpoint is limited to 1000 (incl. linked items) as described in [Kontent API changes](https://docs.kontent.ai/reference/api-changelog#a-delivery-api-limitation).
After that date, queries resulting in more than 1K content items per language won't load more than that 1K items

[2020-01-21 08:56] Enngage commented on #275
fixed by https://github.com/Kentico/kontent-delivery-sdk-js/commit/6e304856fda0a7d9c55e2910dac2578014cedc37

[2020-01-21 08:56] #275 closed

[2020-01-21 08:58] Enngage commented on #271
Closing for now as this is related to product itself and there is not much sdk can do.

[2020-01-21 08:58] #271 closed

[2020-01-21 12:40] Simply007 opened #277 "Document `itemsFeedAll` method"
### Motivation

Since the SDK supports [`/items-feed`](https://docs.kontent.ai/reference/delivery-api#operation/enumerate-content-items) endpoint, it would be great to have the mention in the [Full documentation](https://github.com/Kentico/kontent-delivery-sdk-js/blob/master/DOCS.md).

[2020-01-24 17:15] MilanLund opened #279 "resolveHtml method strips off</link>"
### Brief bug description

I have a strong suspicion that the resolveHtml method strips off the `</link>` tag from an underlying template when resolving a rich text element.

### Repro steps

My implementation is a bit complex so I outline the code example on a snippet taken from the documentation to see my point:

[code]

### Expected behavior

The expected output is something like:
`<link>Brad P

[2020-01-27 20:27] mahpour opened #280 "Angular 8 compatibility with AngularHttpService"
### Brief bug description

Using AngularHttpService from `kentico-cloud-angular-http-service` is causing npm audit warnings in an upgraded angular project at v8.x:

[code]
### Repro steps

1. `npm install kentico-cloud-angular-http-service`

### Expected behavior

There should be an updated angular implementation for `IHttpService`  that's using angular `HttpClient` not `axios` for SSR compatibili

[2020-01-29 10:27] Enngage commented on #279
I did some investigation and `link` tag is indeed stripped this way because it's invalid HTML - e.g. if you try [https://validator.w3.org/nu/#textarea](https://validator.w3.org/nu/#textarea) with

[code]
You can see that the `</link>` part is invalid.

This is being stripped by the `parse5` html parser and there is no way around this. Until we have `json` support for rich text elements, there is n

[2020-01-29 10:27] #279 closed

[2020-01-30 08:43] Enngage commented on #257
Moved to CM SDK.

[2020-01-30 08:43] #257 closed

[2020-02-04 08:44] Enngage commented on #280
Hi,

The library you mentioned is located in this repository: https://github.com/Kentico/kontent-angular-http-service

I've updated the code and released a new `3.0.0` version with updated core HTTP service & Angular 8. Let me know how that works.

[2020-02-04 08:44] #280 closed

[2020-02-17 09:29] Enngage opened #281 "Improve catching delivery specific errors"
SDK should throw new Delivery specific error when network request fails. This should be similar as to what Kontent Management delivery SDK does.

[2020-02-20 08:44] petrsvihlik opened #282 "Update code examples - resolveHtml is no longer valid"
According to @mvhoute:
https://gitter.im/Kentico/Kontent?at=5e4d50a389f30b12651899fa

`resolveHtml` is no longer valid.

It can be found at:
https://docs.kontent.ai/tutorials/develop-apps/get-content/dealing-with-structure-in-rich-text?tech=javascript#a-resolving-tweets-within-rich-text
![image](https://user-images.githubusercontent.com/9810625/74915816-2608e000-53c5-11ea-8a3a-74c4b3d758e2.png)

P

[2020-02-20 08:53] Enngage commented on #282
Hey,

The `resolveHtml` method is valid and is one of 2 options you can use to resolve HTML in rich text elements (see https://github.com/Kentico/kontent-delivery-sdk-js/blob/master/lib/elements/elements.ts#L213)

The other option is to call `resolveData` which gives you additional, contextual information.

From the gitter it seems the question relates to the gatsby plugin which creates its own `r

[2020-03-09 10:24] Enngage opened #283 "Add & explain default retry policy in Docs"

[2020-03-09 10:24] #282 closed

[2020-03-12 13:12] zamponotiropita opened #284 "How to resolve an item from its url?"
I want to access an item from its URL value (e.g `example.com/blog/a-landing-page-this-page-is-built-by-linking-other-content`) since that's the only information I have when accessing my article through the browsers URL. The only way I made it work so far was using the _Codename_ as the articles URL and then using that to fetch the item, but that's not SEO friendly. (`example.com/blog/landing_page

[2020-03-12 13:27] ChristopherJennings commented on #284
Hi @zamponotiropita,

There are a couple of approaches you can take here.

The first is simple, but could be considered "dirty". For this approach you would "slugify" the codename. Essentially, all you'd do is replace the `_` with `-` when creating URLs and reverse that when making the query to Kontent.

The second, probably better, option is to use the URL Slug element [as described in the docume

[2020-03-12 15:27] zamponotiropita commented on #284
Thanks for the great reply. I'll go with the first solution, since the second one fetches all items over the network and does the filtering locally. I don't know if there are many other customers experiencing the same use-case, but if so, fetching an item from it's URL directly would also save bandwidth from your side

[2020-03-12 18:28] ChristopherJennings commented on #284
Either option is fine depending on your particular situation, but I do want to point out that the second option does the filtering using Kontent's delivery API filtering. The only data sent over the network is the items that match the filter, which in this case should just be the one item with that URL slug.

You can find more details about [how filtering works with the API in the docs](https://do

[2020-03-12 18:28] #284 closed

[2020-03-25 13:33] Domitnator commented on #81
Any update on this? Still waiting for this feature!

[2020-03-25 14:00] makma opened #286 "UrlSlugResolver does not resolve links with html in Node environment"
### Brief bug description

UrlSlugResolver does not resolve links with `html` in Node environment

### Repro steps

1. Download [repo](https://github.com/Simply007/resolve-url-as-html)
2. `npm i`
3. `npm start`
4. check console

### Expected behavior

[code]

### Test environment

 - Node v12.16.1

### Additional context

Hint: https://github.com/Kentico/kontent-delivery-sdk-js/blob/master/lib/par

[2020-03-25 14:11] Enngage commented on #81
Hey, this is not currently in planning as it requires huge refactoring and changes in how resolvers would work. It is possible that RTE will support **json** output in (hopefully) near future so I will likely revisit this when it does as to avoid 2 significant refactoring.

[2020-04-01 10:46] Corjen opened #287 "Bundle size"
Hi all,

Currently the bundle size of kontent-delivery-sdk-js is quite high, due to the parse5 & rxjs dependencies. Are there any plans for a light-version of the sdk or saving some kb's from the bundle?

[2020-04-01 10:57] Enngage commented on #287
Hi,

There already is a umd bundle without `parse5` dependency - https://github.com/Kentico/kontent-delivery-sdk-js#kontent-deliverybrowserumdmin

Is this what you need? :-)

[2020-04-01 11:23] Corjen commented on #287
Thanks for the quick reply! Is there a way I can import that bundle in typescript?

Using `import { DeliveryClient, TypeResolver } from '@kentico/kontent-delivery'` still puts the parse5 lib in the bundle

[2020-04-01 12:15] Corjen commented on #287
To give some context, we're running a next.js app which exports both a server and a client bundle.

We would like to be able to let webpack switch between a node and a browser version of. the sdk, like this:
[code]

It seems though that the es2015 bundle also includes parse5, is that correct? Is there a way to get the browser bundle using import?

[2020-04-01 12:20] Enngage commented on #287
You can treat it like any other javascript UMD module and using it like

```const sdk = require('@kentico/kontent-delivery/_bundles/kontent-delivery.umd.min');```

But you lose all typings. There are no special types for specific bundles. It's possible we could distribute some, but I'm not exactly sure how that would work.

What I would recommend instead is to keep using imports as you are used to

[2020-04-01 13:06] Corjen commented on #287
Cool! That saved over 75k gzipped size. Thanks for the support :)

For anyone stumbling on this issue, i've fixed it by adding this to our webpack config in `next.config.js`:

[code]

[2020-04-01 13:06] #287 closed

[2020-04-01 13:34] Simply007 commented on #286
@Enngage,
unfortunately, @huluvu21 found another use case, that does not work 😢

When you place HTML that in top tag contains HTML attributes, they are striped in the output.
I have provided a showcase:
https://github.com/Simply007/resolve-url-as-html

If you want to keep it in separate issue - feel free to do so.

[2020-04-01 13:39] Simply007 commented on #286
There is a screenshot of the actual code (`context.item` is set since the code is using gatsby source plugin):

<img width="484" alt="gatsby_resolver_code" src="https://user-images.githubusercontent.com/9218736/78143653-d93a0f80-742e-11ea-88fb-0f91eadb7645.png">

[2020-04-02 07:47] Enngage commented on #286
Thank you @Simply007 . I've released a fix in `9.1.1` (https://github.com/Kentico/kontent-delivery-sdk-js/blob/master/CHANGELOG.md#911-2020-04-02)

The only different is that both browser parser & parse5 automatically change the `download` attribute to `download=""` which is however equivalent so it should be ok.

[2020-04-02 07:47] #286 closed

[2020-04-08 13:17] zamponotiropita commented on #284
@ChristopherJennings thanks for your good explaination!

[2020-05-11 17:55] Enngage commented on #228
Fixed by https://github.com/Kentico/kontent-webhook-helper-js

[2020-05-11 17:55] #228 closed

[2020-05-15 16:35] kentico-ericd opened #288 "Deno support"
### Motivation

[deno](https://deno.land/) v1 just released. It looks like it will gain a lot of traction and possible overtake Node at some point. It would be a good idea to provide support from the start to attract more projects and be ahead of the curve.

### Proposed solution

Add a `mod.ts` file (similar to deno's [fs](https://deno.land/std/fs/mod.ts) module) that allows users to `import` JS

[2020-06-15 09:01] ematipico opened #289 "Add typeResolvers dynamically"
### Motivation

On a big code base that is not a SPA, the whole client will pull all the models from the entire website and only a bunch of them are used in one single page.

It would be great if once created an instance of `DeliveryClient`, it was possible to add type resolvers dynamically.

During minification/bundling, ALL the models will be pulled inside the same bundle. This is not good becau

[2020-06-15 14:41] Simply007 opened #290 "Extract ImageUrlBuilder to separate package"
### Motivation

Sometimes, you just need to use Image transformation on the client. It would be great to be able to use it without dependency on the delivery client.

### Proposed solution

Extract `ImageUrlBuilder` to separate npm package. And maybe make it a fixed version dependency of this package.

### Additional context

Add any other context, screenshots, or reference links about the feature

[2020-06-16 06:05] Enngage commented on #289
Hi @ematipico,

How many models are you talking about? Usually, the models are just a couple of KBs and with Gzip its even less. Is there any reason you cannot create new instance of delivery client on each page? Just trying to wrap my head around the scenario :-)

[2020-06-16 06:05] Enngage commented on #290
Thats a good idea, I'll take a look at this :-)

[2020-06-16 07:18] ematipico commented on #289
They are around 150/200 and counting, they will keep growing of course.

We have a Next.js application which, at the moment, it behaves like a website. This means that every subsequent navigation behaves like a SPA, where the content is fetched in the client side AFTER the page is rendered to the screen.

[2020-06-16 08:10] Enngage commented on #289
Can you try using the following code?

[code]

If you are using typescript you might need to change typing for client prop -

[code]

I haven't tested this myself, but looking at code it should be sufficient to do. I can come up with a better way to tackle this by exposing public API, but in the meantime this could help.

On a different note - there is a proposal to remove (separate) rxjs dependen

[2020-06-22 09:18] ematipico commented on #289
That would be a huge improvement, we don't actually use the reactive part of the library and even so we pull that part in the final bundle.

[2020-07-24 04:24] benmorana opened #294 "Links and images not resolving correctly when included in an inline component"
### Brief bug description

Most of our URL resolving uses the context.item variable in the urlSlugResolver function. When context.item is not available, we instead instruct the resolver to return a blank URL. We've had no issues resolving images or content item links included directly in a rich text field. However, when we include either of those in the rich text field of an inline component insid

[2020-07-26 19:33] Enngage commented on #294
Hi @benmorana,

Thank you for detailed explanation! I'll have a look at this issue and try to reproduce it in upcoming week.

[2020-07-27 09:27] Enngage opened #295 "Feat: add ability to remove raw data from mapped response"
SDK should allow the ability to remove "raw" data from response in effort to reduce the size of response. This should be default behavior as developer should opt-in to having raw data only if it is required.

[2020-07-27 09:28] Enngage commented on #281
Fixes by https://github.com/Kentico/kontent-delivery-sdk-js/commit/a11e745d4148ac93dafa038f09bd6cd3b6b41a35

[2020-07-27 09:28] #281 closed

[2020-07-27 10:56] Enngage commented on #294
@benmorana Can you please provide me with some response json input I can try on my end? I haven't been able to reproduce this on my end sadly.

[2020-07-28 00:44] benmorana commented on #294
@Enngage - Thanks for taking a quick look. I think I might have figured out why some of the links weren't resolving correctly, but the issue still remains with the image not resolving inside an inline component that is nested inside an existing rich text field.

I've just added you as a collaborator on a repo that has some dummy data in `input.json` and also an example configuration with the model

[2020-07-28 07:29] Enngage commented on #294
Hey @benmorana,

Thank you for sending the repo. I found few issues within your code which I would like to clarify:

- You are attempting to `resolveHtml` method on data which you get by parsing json which you previously saved, but this will not work because the `resolveHtml` is a method on `RichTextTextElement` and if you only parse some json, that method is not there. Therefore I'm not able to r

[2020-07-30 04:44] benmorana commented on #294
Hi @Enngage - Look like trying to generate and output the data as JSON is causing issues. In that case, it might just be easiest for me to give you access to the sample project I created for this example. I've added your email address that's referenced in your Github profile to the project, but let me know if there's another/better email address I should be adding.

In response to your other quest

[2020-07-30 08:24] Enngage commented on #294
Thank you for that ;) I've been able to reproduce your issue and there is something I missed previously - in `inline_component.js` you are calling `resolveHtml` inside `richTextResolver` which is what is causing this behavior. Well, even if you didn't call `resolveHtml` it would still fail if you tried to use the `value` property of rich text element. Strangely, this has been the case only for par

[2020-07-30 23:04] benmorana commented on #294
@Enngage Fantastic! I can now see the nested image and links resolving correctly. Thanks for getting that fixed so quickly 👍

[2020-07-30 23:04] #294 closed

[2020-08-11 09:42] tomasjurasek opened #296 "SDK uses incorrect parameter value for image optimization - auto parameter"
### Brief bug description

The SDK uses incorrect parameter value for the image optimization for the auto parameter.
The problem is that the SDK appends `auto=webp` instead of `auto=format` to the image URL - [image-url-builder:75](https://github.com/Kentico/kontent-delivery-sdk-js/blob/master/lib/images/image-url-builder.ts#L75).

### Repro steps
Example image - https://assets-eu-01.kc-userconten

[2020-08-11 10:54] #296 closed

[2020-08-11 11:01] Enngage commented on #296
Fixed & released in `9.2.1`

[2020-08-24 12:12] huluvu21 opened #297 "Add support for new filtering operators"
### Motivation

The reason for new filtering operators is to give the users of our API better tools for getting just the content they need.

### Proposed solution

Add the new filtering operators mentioned in the [Kentico Kontent product changelog](https://docs.kontent.ai/changelog/product-changelog#a-new-filtering-operators-for-delivery-api).

### Additional context

You may look at the implement

[2020-08-25 07:49] #297 closed

[2020-08-25 07:50] Enngage commented on #297
Released in `10.0.0`

[2020-10-29 10:17] prakharb147 opened #298 "One Function for all the filters"
### Motivation

Why is this feature required? What problems does it solve?
To be able to use one method for filtering content rather than using functions like, _type, types, allFilter, anyFilter, containsFilter_.
### Proposed solution
One function with a param that understands and performs filtering using that param. E.g. `client.getEntries(params)`
An ideal solution for the above problems.

### A

[2020-11-10 05:45] benmorana commented on #81
@Enngage - Any updates on when we could potentially expect this feature? We're looking to build an inline component that would allow content editors to show a listing of the 3 most recent pages of a given content type. This would then allow us to always resolve the three latest pages at build time without requiring content editors to keep those listings up to date manually in Kontent. Something li

[2020-11-12 15:20] michaelwindell26 opened #299 "global urlSlugResolver does not work"
### Brief bug description

`urlSlugResolver` only appears to work on a per query basis.

### Repro steps

#### Resolves links
[code]

#### Does not resolve links
[code]

### Expected behavior

`urlSlugResolver` should work when set through `globalQueryConfig`

[2020-11-12 18:19] Enngage commented on #299
Hey @michaelwindell26,

Did you register `TypeResolvers` in your delivery client initialization?

[2020-11-13 07:55] michaelwindell26 commented on #299
@Enngage Yes i did, using the autogenerated models from [@kentico/kontent-model-generator](https://github.com/Kentico/kontent-model-generator-js) and these are working as expected.

[2020-11-13 09:53] Enngage commented on #299
Are you sure that the type of the item you are trying to resolve is the one for which you registered global resolver? I'm simply asking because we have tests confirming that global resolvers work (e.g. https://github.com/Kentico/kontent-delivery-sdk-js/blob/master/test-browser/isolated-tests/resolvers/url-slug-resolver.spec.ts#L57)

[2020-11-13 10:24] michaelwindell26 commented on #299
Ahh, maybe a miscommunication.

I am using `resolveHtml` for `RichTextElement` types rather than `resolveUrl` directly. Would that make a difference?

[2020-11-13 12:38] Enngage commented on #299
Looking at the code, I don't think so. Global URL resolvers are used for `RichTextElement`, Can you provide a repro on stackblitz? That is probably the best way to see whats going on.

[2020-11-16 07:46] RadoslavK opened #300 "Add support for content collections"
### Motivation

Support for content collections is being added to Deliver.

### Additional context

- System model contains collection's codename
- It is possible to filter items by collections

[2020-12-08 09:00] petrsvihlik commented on #300
could you please give this one higher priority @Enngage ? thx!

[2020-12-08 10:03] Enngage commented on #300
@petrsvihlik oh, this was released 12 days ago :) I forgot about the issue, so closing now.

[2020-12-08 10:03] #300 closed

[2020-12-08 10:41] petrsvihlik commented on #300
could you also please add a corresponding record to [releases](https://github.com/Kentico/kontent-delivery-sdk-js/releases)?

[2021-01-13 07:38] Sevitas opened #303 "Add languages to SDK"
### Motivation

Feature is required thus, no method providing project languages is present. User can now get all his project languages.

### Proposed solution

Introduce a method providing all project languages

### Additional context
Should be released 01.25.2021
endpoint-{deliveryApi}/{projectId}/languages
`{
  "languages": [
    {
      "system": {
        "id": "00000000-0000-0000-0000-0000000

[2021-01-13 13:12] Enngage opened #304 "Improve skip parameter query filter"
Filter parameter can work only when  `limit` is also specified and so sdk should extend skip parameter with limit as well.

[2021-01-13 13:14] Enngage opened #305 "Add extension methods for all listing queries"
Queries for languages / types accepts filters (system.id=x) etc.. and as such the sdk should provide extension methods for all listing queries.

[2021-01-13 13:15] Enngage opened #306 "Add "page" extension method for listing queries"
To improve getting next page, the sdk should provide extra extension method.

[2021-01-13 13:20] Enngage opened #307 "Separate node.js parser from the repository"
Node.js parser depends on `parse5` which is a hefty library and not necessary in many cases. To reduce sdk size, the parser should be a separate extension available as an extra npm package.

[2021-01-13 13:20] #299 closed

[2021-01-13 13:23] #303 closed

[2021-02-08 07:50] Sevitas opened #309 "kcl-4508 introduce new system property (workflow_step) in item object"
### Motivation

Introduces new system property 'workflow_step' representing codename of the workflow step, an item is assigned to. Items can be filtered out based on this property

### Proposed solution

Introduce new property to system object of items. Components should not contain this property.

### Additional context

https://kentico.atlassian.net/browse/KCL-6343

Changing of workflow step's c

[2021-07-05 00:24] benmorana opened #319 "Content Item links in Rich Text Components don't resolve correctly"
### Brief bug description

When attempting to resolve the content-item links of a rich text field inside a rich text component, the item context values (second param) in the URLSlugResolver are no longer available. In our instance, we are defining a query level UrlSlugResolver to resolve all the URLs, and using values like the collection name to determine which site the content item belongs to, li

[2021-07-05 06:34] Enngage commented on #319
Hi @benmorana, thanks for the issue!

I have one important question - in the case where `context` is not available, is the content item present in the response you get from Delivery API?

This is really important because when you add **a link to content item** within rich text, the actual content item is **not** added to response which is why the context cannot be made available - the content item

[2021-07-07 23:13] benmorana commented on #319
Hi @Enngage,

Thanks for getting back to us so quickly on this issue! I can confirm that your assumption was correct - the content item that was being linked to was not included in the response.

We had to work through an intermediate solution for this problem to keep the project moving, but must admit it seems bizarre that content item links are not included in the API response. From what I can t

[2021-07-08 01:21] BorisPocatko commented on #319
@Enngage If I may step in here: Can you also make our PMs aware of this issue? I think they are keen on using RTE a lot forward, but these kinds of issues will slow down or limit the adoption of RTE over linked items.

[2021-07-08 12:28] Enngage commented on #319
@benmorana, @BorisPocatko  There aren't any plans regarding this in neat future as far as I know. I've discussed this with our PMs several times in the past already, but I'll notify them again as its becoming quite often requirement / question..

[2021-07-08 12:28] #319 closed

[2021-07-14 14:57] Enngage commented on #319
@benmorana This scenario will be possible in the next major version of this SDK as the resolver will accept Promises and so you can fetch additional content items from within the resolver. I can't say exactly when the update will be available though as there's gonna be a lot of changes and refactoring needed. I'm hoping to release it this autumn.

[2021-07-15 06:52] Enngage commented on #319
@benmorana There is also quite a simple workaround you could do in the meantime before this is implemented in SDK - before resolving rich text with SDK, use a `regex` to parse out all links from the rich text field's raw value (this is just a html string) and get hold of all **content ids**. Once you have all ids, send a single request with `system.id[in]` filter. This will get you all content ite

[2021-07-16 08:40] Enngage commented on #319
@benmorana One good thing :) I've created a sample code that does what I outlined in my previous message - it parses out all link ids from a certain rich text element, fetches all content items in a single response and uses it to construct url using the `collection_id`. Working example can be found here: https://stackblitz.com/edit/angular-ivy-y5tnl4?file=src/app/app.component.html

Code (for futu

[2021-07-16 14:29] ChristopherJennings opened #320 "Indexer in IContentItem breaks TypeScript Intellisense"
I've noticed that when I'm working with Content Items in TypeScript, I don't get errors on typos or changes to my models because of the Content Item Indexer:

https://github.com/Kentico/kontent-delivery-sdk-js/blob/ff39e1f9c2f5a1e681ef21cb7abca0347c92f1e1/lib/models/item/item-models.ts#L74

The `[key: string]` is basically swallowing up any property name typos or changes and indicating that proper

[2021-07-20 01:46] benmorana commented on #319
@Enngage - That's great! Thanks for taking the time to come up with this solution. I can see what you're trying to do, but in our case I'm not sure this will totally work for us, given that most of the text content item links are located within Rich Text components inside the Page Body rich text element (i.e Body(Rich Text Field) -> Standard Page Block (Inline Component) -> Text with content item

[2021-07-20 11:00] Enngage commented on #319
@benmorana I wouldn't be too much worried about the performance of the regex - it's miniscule compared to the performance of making actual http requests and fetching all the items. For a reference, I took the code above and modified it to run the regex `10 000` times and extracting all links took `9.7ms` . `100 000` iterations took `64ms`on my (high end) machine.

![perf](https://user-images.githu

[2021-07-26 06:09] benmorana commented on #319
@Enngage - Thanks again for the detailed response! We'll probably still need to test this on our end to make sure that this extra processing ( on top of some existing additional calls that we're currently making as part of a 'page' request) doesn't impact load times ( based on your tests it sounds like it shouldn't 🤞 ). Since cross-collection linking isn't entirely necessary for our first release,

[2021-08-23 19:31] rickvandermey opened #321 "Update Kentico-core-js to 9.1.0"
### Brief bug description

the last release date of 8.1.0 is january 2021, and would like to stay up to date with all devDependencies, because axios has a critical bug that should be fixed.

[2021-08-25 07:32] Enngage commented on #321
@rickvandermey hey, yeah, this SDK is in development and will have a major release in near future. I'm hoping to get it up in 3 months. There are gonna be a lot of breaking changes, so there will be preview versions released sooner.

[2021-08-30 07:23] Enngage commented on #321
Kontent-core-js is updated to latest version in `vnext` branch (https://github.com/Kentico/kontent-delivery-sdk-js/tree/vnext)

Preview versions of this refactored sdk will be published on npm in upcoming weeks.

[2021-08-30 07:23] #321 closed

[2021-08-30 08:32] Enngage commented on #306
closed by https://github.com/Kentico/kontent-delivery-sdk-js/commit/a28ddb3e18162c8b80dabbf8967e64a23b40fbb1

[2021-08-30 08:32] #306 closed

[2021-08-30 08:54] Enngage commented on #298
@prakharb147 You may use `withParameters` extension method for this purpose :-)

In it you pass array of parameters from `Parameters` interface.

[2021-08-30 08:54] #298 closed

[2021-08-30 08:59] Enngage commented on #304
SDK should not force this kind of behaviours, it should be up to users to set all parameters themselves and sdk should not tamper with it.

[2021-08-30 08:59] #304 closed

[2021-08-31 16:27] ChristopherJennings commented on #320
Ok, so this is for the situation where you are using a generic `ContentItem` rather than an explicitly created type for a given content item (e.g. using ContentItem rather than the Actor class for an actor content item)?

In that situation, I'd rather have an error that I can fix by casting to the proper type than  to have the SDK swallow my typos silently.

I don't like the idea of the SDK making

[2021-09-09 11:49] Enngage commented on #309
Implemented in vnext

[2021-09-09 11:49] #309 closed

[2021-09-10 11:47] Enngage commented on #305
Implemented by https://github.com/Kentico/kontent-delivery-sdk-js/commit/7c68b8f910a1bf55c1ec6954c560d6e9f912c3c3

[2021-09-10 11:47] #305 closed

[2021-09-10 11:48] Enngage commented on #283
I suppose there is no need for extra explanation as the configuration object is clear enough on its own.

[2021-09-10 11:48] #283 closed

[2021-09-10 11:49] Enngage commented on #277
This methods has been removed in next (https://github.com/Kentico/kontent-delivery-sdk-js/commit/7c68b8f910a1bf55c1ec6954c560d6e9f912c3c3) and the alternative is to simply use `toAllObservable` on the items feed (and all other listing) query

[2021-09-10 11:49] #277 closed

[2021-09-10 11:50] #110 closed

[2021-09-14 03:47] yarandoo commented on #309
@Enngage, thanks! Keen on this feature, do you have an ETA for the next release, or where I could look for release updates?

[2021-09-15 10:20] Enngage commented on #309
Hey @yarandoo, I'm planning on releasing first `preview` version sometime next month. The full `latest` version will be available later on based on additional feedback. Do however note that the next version is fundamentally different and there will be a need for you to adjust the code. One of the things we are doing is for example removing `rxjs`, improving types and changing most of models & quer

[2021-09-23 08:27] Enngage commented on #295
New version of SDK does not contain raw data in order to avoid data duplication and to reduce the footprint of the mapped response

[2021-09-23 08:27] #295 closed

[2021-09-23 08:28] Enngage commented on #289
Type resolvers are completely removed in new version of this library which will favor interfaces instead of classes for easier use & reduced size & complexity.

[2021-09-23 08:28] #289 closed

[2021-09-23 08:29] Enngage commented on #274
This is done in the next version of SDK which not contains `toAllPromise` for all listing endpoints. This method will perform automatic paging to get all data from all available pages.

[2021-09-23 08:29] #274 closed

[2021-09-23 08:30] Enngage commented on #76
Next version of the SDK removed type resolvers as it favors interfaces instead of classes for reduced size & complexity. This change makes this issue obsolete.

[2021-09-23 08:30] #76 closed

[2021-09-24 09:09] Enngage commented on #290
I'll probably leave image url builder as a part of this delivery SDK as having a separate npm package for just a "simple & short" code is a little bit of an overkill. The new version of SDK is also a lot smaller (17KB when gzipped) so it shouldn't really be a problem for a majority of cases.

[2021-09-24 09:09] #290 closed

[2021-09-24 09:16] Enngage commented on #320
@ChristopherJennings , this shouldn't be a problem with the new models definition (https://github.com/Kentico/kontent-delivery-sdk-js/blob/vnext/test/browser/setup/models.ts#L3) and the fact that elements are separated (https://github.com/Kentico/kontent-delivery-sdk-js/blob/vnext/lib/models/item/item-models.ts#L77].

There is still an indexer on the `elements` (https://github.com/Kentico/kontent-

[2021-09-24 09:16] #320 closed

[2021-09-24 10:09] Enngage commented on #272
This feature is available in the next version of the SDK as can be demonstrated by following test (https://github.com/Kentico/kontent-delivery-sdk-js/blob/vnext/test/browser/isolated-tests/resolvers/browser-rich-text-resolver/browser-rich-resolver-html-priority.spec.ts#L29)

[2021-09-24 10:09] #272 closed

[2021-09-24 10:11] Enngage commented on #203
Next version of SDK does not have classes anymore and uses simple type models with interfaces. The model generator will need to be updated so I'll take this there along with the breaking changes.

[2021-09-24 10:11] #203 closed

[2021-09-24 10:13] Enngage commented on #81
@benmorana The next version of SDK now provides new way of resolving rich text and does provide an async version of browser rich text parser as can be seen in this test (https://github.com/Kentico/kontent-delivery-sdk-js/blob/vnext/test/browser/isolated-tests/resolvers/browser-rich-text-resolver/browser-rich-resolver-html-priority-async.spec.ts#L29)

The preview version of the SDK will be released

[2021-09-24 10:13] #81 closed

[2021-09-24 10:14] Enngage commented on #89
I'm guessing this should be covered somewhere else in our docs, so I'm closing this issue for this SDK.

[2021-09-24 10:14] #89 closed

[2021-10-12 11:26] #307 closed

[2021-11-16 11:34] Suzii opened #327 "Add support for asset renditions"
### Motivation

New Kontent feature - Asset renditions, will be released soon (beginning of December with) and it will be available through DeliveryAPI. We should have them covered in SDKs as well.

### Proposed solution

When the asset element is retrieved from Deliver, the referenced assets can now contain user-defined renditions and it is easy for the developer to apply the rendition query stri

[2021-11-16 11:56] Suzii commented on #327
Will be handled by Westplex team internally.

[2021-11-18 09:54] Enngage commented on #327
Fixed by https://github.com/Kentico/kontent-delivery-sdk-js/commit/8cbe9916b95c8a95396211a53ef8de4e0a4850b1

[2021-11-18 09:54] #327 closed

[2021-11-18 11:14] Suzii commented on #327
Hi, just one thing about the fix: It is not really `renditionCodename` but rather `renditionPresetCodename`.

[2021-11-18 14:16] Enngage commented on #327
I've updated the indexer name, thank you @Suzii  :) However, since this is just an indexer type, we can call it whatever we like ;)

Also, I'll add some more tests & absolute asset URLs for the renditions in the upcoming days.

[2021-11-22 06:55] Suzii commented on #327
Hi, I am really sorry, but as we are still developing the feature, there has been a slight change of plans. The new property `renditions` won't be present at all times, but rather only for "image-like" objects:
* the property will only be present for image-like objects (those which have both `width` & `height` properties set by the system)
* when no renditions are defined for the linked asset, the

[2021-11-23 09:45] Domitnator opened #329 "Failed to resolve entry for package"
Hi Richard,

Nuxt 3 is still in beta (https://v3.nuxtjs.org/) and i wanted to test if the kentico-kontent-nuxt-module is already compatible with Nuxt 3. So I first created a Nuxt 3 project to test the kontent-delivery-sdk-js itself:

1. Installed a new Nuxt 3 project (npx nuxi init nuxt3-app)
2. Installed kontent-delivery-sdk-js via NPM
3. Added some basic code to do a delivery call:

![image](htt

[2021-11-23 10:13] Domitnator commented on #329
@ondrabus Thanks for pointing out those repo's! I'll take a look at them!

[2021-11-23 10:20] ondrabus commented on #329
@Domitnator np, please feel free to contribute, I appreciate your help! :)

[2021-11-24 05:15] benmorana opened #330 "Depth Parameter not respected by SDK"
### Brief bug description

When setting the `depthParameter` to `1`, we expected modular item values to not be resolved as part of the normal SDK behaviour (i.e value should either be an empty array or only contain the codename of the item, like in the REST API). However, we have found that if for example you set depth param `1`, but have a modular content item at level 2 (Content Item 1 -> Conten

[2021-11-24 08:39] Enngage commented on #330
Hi @benmorana, this is really intended behavior and this will not be changed in `10.x.y` SDK. The `11.0.0` allows you to disable SDK mapping (see https://github.com/Kentico/kontent-delivery-sdk-js#handling-circular-references).

Alternatively, you may use `flatted` package to handle circular JSON (https://www.npmjs.com/package/flatted)

[2021-11-24 08:39] #330 closed

[2021-11-24 08:40] Enngage commented on #329
Thanks @ondrabus for the response! Closing this one as this is easily solved with framework configuration.

[2021-11-24 08:40] #329 closed

[2021-11-29 05:56] hemmachat opened #331 "Creating Migration Guidelines from Version 10 to 11"
### Motivation

Helping/guiding developers who already have the existing code using delivery API version 10 and willing to upgrade to version 11.

### Proposed solution

Someone from Kontent team to create the migration guidelines with some sample code.

### Additional context

We have the existing code using @kentico/kontent-delivery v10.4.1 with @kentico/kontent-model-generator v3.2.0 and we are

[2021-11-30 13:40] ondrabus opened #332 "Resolved content items are still within <object> tag"
### Brief bug description
After resolving rich text elements, the <object> tag describing the external resource persists.

### Repro steps

1. Resolve any rich text <object> element
2. The resolved content is still within the <object> tag that now also contains the `data-sdk-resolved` attribute

### Expected behavior

Once an external resource gets resolved, the <object> tag should be replaced wit

[2021-12-03 10:43] Enngage commented on #331
Hi @hemmachat,

Structurally, the response & method names are pretty much identical to v10. For example, the response is just "wrapped" in a data model, but you should be able to solve this by some sort of global replace in your project. The documentation has been update to use v11 as well (e.g. https://docs.kontent.ai/reference/delivery-api#operation/list-content-items)

We are not preparing any

[2021-12-09 10:14] michaela-bielikova opened #333 "Add support for custom asset domains"
### Motivation

Customers want to use their own domains in asset links instead of the default Kontent asset URL. This way the links on their webpage will look more trustworthy, and since the custom links will be visible in search engine results, it also helps SEO optimization.
We will implement the support for custom asset domains in the Kontent app BE and deliver, but for the whole solution to wo

[2021-12-16 07:01] #333 closed

[2022-01-19 07:36] #331 closed

[2022-01-24 12:21] Simply007 opened #335 "Generic orderParameter function does no handle sort order (2nd parameter) not being set"
### Brief bug description

`orderParameter` results in an invalid URL in javascript.

### Repro steps

call `
[code]

and you will get `.../items?system.type=cafe&order=system.name[undefined]`

### Expected behavior

Raise an exception when sort order is not specified.

### Context

I am aware of `orderByAscending` method. I was upgrading a project from DAPI SDK v10 and this behavior change was a

[2022-01-27 09:08] ondrabus commented on #332
@Enngage any updates on this?

[2022-01-27 09:29] Enngage commented on #332
@ondrabus I'm still not sure whether to use this or not. It's also a major change (unless we make this optional). The regex seems quite simple, but what if you want to use "object" within the resolver? I'm just not sure ;) @Simply007 has any opinion on this?

[2022-01-27 09:49] ondrabus commented on #332
@Enngage I'm not saying it's the best solution :-) it's just a temp workaround that doesn't look good. Feel free to propose a better solution. I just want to get the problem that clearly exists solved :-)

[2022-01-28 10:14] Simply007 commented on #332
I would expect that `<object>` tag would be replaced by the resolution. On the other hand there are already people that used the resolver and they might expect to have the `<object>` tag being in the resolved HTML (i.e. they have some CSS selectors depending on it).

So I would choose between making it configurable, or changing the behavior (which is by the book breaking change).

[2022-02-07 16:43] ondrabus commented on #332
@Enngage any updates on this?

[2022-02-07 16:52] ondrabus opened #338 "Rich text components are not available on element level"
### Brief bug description

While trying to resolve RichText element, the linkedItems (ie. also components) are available on the Delivery API response's level.

Element:
[code]

This requires you to transfer the whole response between components to allow rich text resolving, not just a specific item.

### Expected behavior

The expected behavior is the same as with the LinkedItems element, ie:

[co

[2022-02-16 15:08] Simply007 opened #339 "Object resolver breaks HTML nesting rules"
### Brief bug description

If you use an Object resolver that contains i.t. image (represented by `figure` tag), object revolver wraps this figure presentation by the `p` tag - which violates the HTML standard: `<figure> cannot appear as a descendant of <p>`

### Repro steps

Fork this repo: https://github.com/Simply007/kontent-react-components/blob/716eb5a6f8302ebc65e418df0ba44282db9b9405
Run thi

[2022-02-20 13:11] CMeeg opened #340 "Incorrect main/module/exports specified in package.json"
### Brief bug description

I am using a few Kontent packages in a project that is using Vite as the build tool. When I run `vite build` I receive errors like `Failed to resolve entry for package "@kentico/kontent-delivery". The package may have incorrect main/module/exports specified in its package.json.`.

If I look at the entries in [package.json](https://github.com/Kentico/kontent-delivery-sdk-

[2022-02-22 23:50] terence1988 commented on #340
Hi CMeeg,
In the meantime, please check Vite's documents but I believe you only need to configure vite's bundler options as below
[code]

[2022-02-28 13:09] cdhawke opened #342 "url-parse security vulnerability"
### Motivation

url-parse security vulnerability

### Proposed solution

upgrade the url-parse version to `> 1.5.7`

### Additional context

![image](https://user-images.githubusercontent.com/69921547/155988805-008493de-99fb-4fe7-8f07-c7c22a580671.png)

[2022-03-04 18:05] PetrSvirak opened #343 "RichText*Resolver requires to be run in a browser to work"
### Brief bug description

The `RichtText[Html|Json|Object]Resolver` does not work without a browser (e.g. on server-side in the Node.js).
It worked on version [10.4.1](https://www.npmjs.com/package/@kentico/kontent-delivery/v/10.4.1), hence the bug (not a feature request).

### Repro steps

1. Spin a new next.js project (e.g. using [create-next-app](https://github.com/vercel/next.js/tree/canary/p

[2022-03-05 15:51] Enngage commented on #343
Hey @PetrSvirak,

The `node.js` parser has been separated into its own NPM package. You can install & use it based on this docs -> https://github.com/Kentico/kontent-delivery-sdk-js#resolving-rich-text-in-nodejs

The behavior should be practically identical to previous version of SDK.

[2022-03-05 15:51] #343 closed

[2022-03-07 08:06] #342 closed

[2022-03-07 08:06] Enngage commented on #342
Thanks @cdhawke, I've updated deps and will release new update soon.

[2022-03-07 08:31] #339 closed

[2022-03-07 08:35] Enngage commented on #335
The `orderParameter` cannot be called with a single parameter and we ship types describing the required parameters, so the solution would be to just use some IDE with intellisense to suggest both parameters. I wouldn't like to raise exception in all methods with parameters just in case some parameter is missing.

You may call this method such as:

[code]

[2022-03-07 08:35] #335 closed

[2022-03-07 10:09] #338 closed

[2022-03-07 10:10] #340 closed

[2022-03-07 10:14] Enngage commented on #288
@kentico-ericd could you possibly try testing the latest version of SDK with deno? We are no longer using `rxjs` and use only couple of deps.

[2022-03-07 11:14] #332 closed

[2022-03-07 11:20] Enngage commented on #332
Will be released in next version. Currently, all <object> tags are removed by default. You can however set  `preserveResolvedObjectTags` of  `resolveRichText` method to preserve tags if needed.

[2022-03-17 13:29] Enngage opened #344 "Feat: Add support for strongly typed taxonomy elements"
### Motivation

Ability for developers to generate types representing all taxonomy terms and use these in a strongly typed fashion in delivery SDK

### Proposed solution

Update model generator to generate Taxonomy types & update Delivery SDK to use these types in Taxonomy elements

[2022-03-20 10:41] ondrabus opened #345 "SDK resolves items excluded by depthParameter"
### Brief bug description

Consider the following content model:

Blog Post
- LinkedItems element -> Author

Author
- LinkedItems element -> Blog Post

If I use the following query:
[code]

I expect to receive an array of Blog Posts and their Authors. The linked items element "Blog Posts" on every Author should only contain an array of codenames of assigned blog posts. However, all the blog posts

[2022-03-21 08:47] Enngage commented on #74
I'm closing this issue as it's quite old and any tests would have to be in the model generator repo.

[2022-03-21 08:47] #74 closed

[2022-03-22 07:16] Enngage commented on #345
This is very difficult to do and it might not even be feasible to do. For example, when you set `depth=1` and a content item "links" to different item in `modular_content`, this linked item can link back to items present in `items` part of response.  This means that you can have circular references even with `depth=1`.

You could duplicate each content item so that there can't be any circular refe

[2022-03-22 07:16] #345 closed

[2022-03-28 10:08] Enngage commented on #344
Fixed by https://github.com/Kentico/kontent-delivery-sdk-js/commit/c3d85eecfd7fa3ced980d741195207596a3e44b8

[2022-03-28 10:08] #344 closed

[2022-05-19 17:38] stephenandekian opened #346 "urlResolver locale value in return value"
### Motivation

It would be nice it he locale of the URL was returned back along with the ID, codename, urltext, etc. While I could assume the locale is relational to the content item for which it is being resolved there is no guarantee that the linked page isn't in another locale. Including the locale would allow for better URL formatting in the resolver.

### Proposed solution

Return the locale

[2022-05-20 07:12] Enngage commented on #346
Hi,

I'm not quite sure what  `locale` value you mean. Can you possibly better explain where the SDK should get such a value? Some example of Delivery response and the result of `urlResolver` would help a lot.

[2022-05-26 11:55] tommarshall opened #347 "`Module not found: Can't resolve 'tslib'` when importing `transformImageUrl`"
### Brief bug description

[code]

When importing `transformImageUrl` from `@kentico/kontent-delivery` to build image transformation URLs, e.g. [within a custom loader for `Next/Image`](https://github.com/vercel/next.js/blob/82a9d218090c5d45b53439badb8d06687444fadd/examples/cms-kontent/components/image.js#L2).

### Repro steps

1. Create a new Next.js project using `cms-kontent` example from the N

[2022-05-27 10:41] Enngage commented on #347
Hi @tommarshall,

Thank you for the details and opening the issue here.

As far as I understand the `tslib` is just a runtime library for `typescript`  and as such should not be part of the public API or be listed as a dependency of the project. I would assume that you would get similar error if you used something other then `transformImageUrl`, is that correct?

`tslib` is (or is not) needed depe

[2022-06-17 07:49] VladSelegean opened #349 "Client Configuration Parameter to Bypass Archived Items"
### Motivation
Using the **usePreviewMode** configuration also fetches archived items, which doesn't really make sense for the preview mode.

### Proposed solution
Adding a new configuration property which will skip archived items.

[2022-06-17 08:25] Enngage commented on #349
Hi @VladSelegean,

I understand your point, though this is a feature of the Preview API itself, see a snapshot from our docs (https://kontent.ai/learn/reference/delivery-api/):

![preview](https://user-images.githubusercontent.com/7137351/174258031-07d22d73-d307-4ef7-a3b6-2014f9a3f8d4.png)

A possible workaround might be using the `system.workflow_step[neq]=archived` query parameter, though I'll h

[2022-06-21 11:48] MilanLund opened #350 "Incorrect code example in README"
https://github.com/Kentico/kontent-delivery-sdk-js/blob/master/readme.md#resolving-rich-text-in-nodejs

There is a code example stating:
[code]
I think that is incorrect and should be:
[code]
Also, the JSON one above looks a bit suspicious. However, have not had a chance to actually test it.

[2022-06-23 13:05] MilanLund opened #351 "Rich text resolver > URL resolver - Incorrect link text passed when formatting is used"
### Brief bug description

When a link inside a rich text element uses formatting, only a part of the link text is passed in the `urlResolverAsyc` method.

### Repro steps

1. In the Kontent app, in a rich text element, create a link and add formatting inside the link text (ie. italic or bold).
![image](https://user-images.githubusercontent.com/2146352/175304801-aa65d493-20aa-4b05-b039-b51066dd012

[2022-06-23 14:10] #347 closed

[2022-06-24 06:14] Enngage commented on #350
You're right, thanks!

[2022-06-24 06:14] #350 closed

[2022-06-24 10:06] #351 closed

[2022-06-24 10:10] Enngage commented on #351
Hey @MilanLund,

I've made some changes to the parser and it should now include the entire link content as a plain text. Can you try the `"@kentico/kontent-delivery-node-parser": "2.0.0"` ?

[2022-06-24 11:02] MilanLund commented on #351
Hi @Enngage,
I am afraid your changes broke it a little bit more :) I tried version `2.0.0` in my project and got `TypeError: Cannot read property 'value' of undefined` on almost every page. I dug a bit in your code and found an issue.
Here you are testing if there are any `childNodes`: https://github.com/Kentico/kontent-delivery-node-parser/blob/48456ca8380ca329a3b5509bb68ed1d9c12301f7/lib/parser

[2022-06-24 11:18] Enngage commented on #351
Thanks @MilanLund ! Yeah, you're right ;)  I've updated the condition in `2.0.1`, can you try again?

I was changing the code quite a bit (due to parse5 API changes) and didn't notice this as test were passing correctly. I'm honestly not sure what are all possible link syntaxes and it's strange that I didn't see the same error as you did. I only wonder how your links differ from the ones I have in

[2022-07-15 06:41] Enngage commented on #346
Closing this as it is not clear what should be implemented in SDK. Feel free to reopen.

[2022-07-15 06:41] #346 closed

[2022-08-17 00:46] Webcoda opened #353 "Custom asset domain should replace the domain of links in RTE that link to assets"
### Brief bug description
Passing `assetsDomain` parameter to the DeliveryClient constructor only replaces the asset domain for assets themselves. However, the links that link to the assets still have kontent-ai original asset domain e.g. https://assets-au-01.kc-usercontent.com or https://preview-assets-au-01.kc-usercontent.com.

What went wrong?

### Repro steps

1. Need to have configured custom

[2022-08-17 06:08] Simply007 commented on #353
Related to #334

[2022-08-26 06:17] benmorana opened #355 "Ensure order of LinkedItems and LinkedItemCodenames matches RichTextElement value order"
### Motivation

When using rich text elements to add content to a page, you might sometimes use components to give the content editors a "page-builder" like experience. In those instances, one of the ways you might render those blocks on the front-end is by looping through the `linkedItems` property of your rich text element, to render out an array of props that can be passed to your preferred UI

[2022-09-12 07:59] Enngage commented on #355
Hi @benmorana,

Sorry for a bit late response, been a busy time recently :)

Ideally, this is something that our Delivery API should handle, but it's hard to say if (or when) this would get implemented and it might be good to cover this in the SDK in the meantime.

 I like your idea and if you have the time, it would be great if you could make a PR for this :) Extending the `mapRichTextElement` fu

[2022-09-22 12:10] Enngage commented on #355
Hey @benmorana,

any chance you could prepare the PR for this in upcoming days? :) It turns out we need to have this functionality ourselves internally! ;) If not, I will take this and implement next week based on your suggestions.

[2022-09-22 23:06] benmorana commented on #355
Hey @Enngage, Funny you should ask, I was just finalising the PR for it on Wednesday (yesterday was a public holiday for us). Take a look (https://github.com/kontent-ai/delivery-sdk-js/pull/356) and let me know what you think :)

[2022-09-23 07:40] Enngage commented on #355
Awesome @benmorana, it looks good! I've merged it and released under `12.2.0`  :)

Thank you!

[2022-09-23 07:40] #355 closed

[2022-09-23 07:41] #349 closed

[2022-09-23 12:44] benmorana commented on #355
Legend! Thanks @Enngage!